{% load static humanize %}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}SAC Sistema de Administración de Cajas{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/png" href="{% static 'images/favicons/favicon.png' %}"/>

  {% block css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
          integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  {% endblock %}
  {% block extra_css %}{% endblock %}
</head>

<body>
<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
  <nav class="navbar navbar-expand-sm navbar-default">
    <div id="main-menu" class="main-menu collapse navbar-collapse">
      {% block navbar %}
      {% endblock %}
    </div><!-- /.navbar-collapse -->
  </nav>
</aside>
<!-- /#left-panel -->
<!-- Right Panel -->
<div id="right-panel" class="right-panel">
  <!-- Header-->
  {% block header %}
    <header id="header" class="header">
      <div class="top-left">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'webclient:home' %}"><img src="{% static 'images/logo.png' %}"
                                                                         alt="Logo"></a>
          <a class="navbar-brand hidden" href="{% url 'webclient:home' %}"><img
            src="{% static 'images/favicons/favicon.png' %}" alt="Logo"></a>
          <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
        </div>
      </div>
      <div class="top-right">
        <div class="header-menu">
          {% if request.session.office %}
            <a href="{% url 'webclient:arc_request' %} " type="button" class="arqueo">Solicitar Arqueo</a>
            <div class="user-area dropdown float-right">
              <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                <img class="user-avatar rounded-circle" src="{% static 'icons/ICONOS-27.png' %}" alt="User Avatar">
              </a>

              <div class="user-menu dropdown-menu">
                <a class="nav-link" href="#"><i class="fas fa-user"></i></i>Mi perfil</a>

                <a class="nav-link" href="{% url 'account_logout' %}"><i class="fas fa-power-off"></i></i>Cerrar
                  Sesión</a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </header>
  {% endblock %}
  <div class="content">
    <!-- Animated -->
    <div class="animated fadeIn">
      {% block index_actions %}
        <!-- Widgets  -->
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="card">
              <div class="card-body">
                <a href="#" data-toggle="modal" data-target="#partner-withdraw">
                  <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-1">
                      <img src="{% static 'icons/ICONOS-21.png' %}" alt="icon-21" height="70" width="70">
                    </div>
                    <div class="stat-content">
                      <div class="text-left dib">
                        <div class="stat-heading">Registro retiro de socio</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="card">
              <div class="card-body">
                <a href="#" data-toggle="modal" data-target="#sell-unit">
                  <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-2">
                      <img src="{% static 'icons/ICONOS-22.png' %}" alt="icon-22" height="70" width="70">
                    </div>
                    <div class="stat-content">
                      <div class="text-left dib">
                        <div class="stat-heading">Registro venta de unidades</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="card">
              <div class="card-body">
                <a href="#" data-toggle="modal" data-target="#investments">
                  <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-3">
                      <img src="{% static 'icons/ICONOS-23.png' %}" alt="icon-23" height="70" width="70">
                    </div>
                    <div class="stat-content">
                      <div class="text-left dib">
                        <div class="stat-heading">Registro inversión a negocios</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="card">
              <div class="card-body">
                <a href="#" data-toggle="modal" data-target="#partner-closeout">
                  <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-4">
                      <img src="{% static 'icons/ICONOS-24.png' %}" alt="icon-24" height="70" width="70">
                    </div>
                    <div class="stat-content">
                      <div class="text-left dib">
                        <div class="stat-heading">Registro liquidación de sociedad</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- /Widgets -->
      {% endblock %}
      {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      {% endfor %}
      {% block content %}

      {% endblock %}
      <div class="clearfix"></div>
    </div>
    <!-- .animated -->
  </div>
  {% block footer %}

  {% endblock %}
</div>

{% block modals %}
  <section id="modals-base">
    <!-- Modales -->

    <!-- Modal venta de unidades -->
    <div class="modal fade" id="sell-unit" role="dialog" aria-labelledby="sell-unitLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title text-center" id="exampleModalLabel">Venta de unidades</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" id="sell-units">
              {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-md-6 partner-select ">
                  <label for="partner">Socio</label>
                  <select class="form-control" id="partner" name="partner" style="width: 100%; height: 20px;" required>
                    <option value="" selected disabled>Selecciona un socio</option>
                    {% for p in partners %}
                      <option value="{{ p.pk }}">{{ p }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group col-md-6 unit-select ">
                  <label for="unit">Unidad</label>
                  <select class="form-control" id="unit" name="unit" style="width: 100%; height: 20px;" required>
                    <option value="" selected disabled>Selecciona primero un socio</option>
                  </select>
                </div>
              </div>
              <hr>
              <div class="unit-fields d-none">
                <div class="form-row">
                  <div class="form-group col-md-6 ">
                    <label for="partner">Nombre Unidad</label>
                    <input class="form-control" type="text" name="name" id="name" value="" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="unit">Precio inventario</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                      </div>
                      <input type="number" class="form-control" name="price_items" id="price_items" value="0"
                             placeholder="Valor Total">
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="unit_price">Saldo unidad (Venda+)</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                      </div>
                      <input type="number" class="form-control" name="unit_price" id="unit_price" value="0"
                             placeholder="Ingresa el valor de la unidad (Venda+)">
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="partner_buyer">Socio a vender</label>
                    <select class="form-control" id="partner_buyer" name="buyer_partner"
                            style="width: 100%; height: 20px;" required>
                      <option value="" selected disabled>Selecciona el socio comprador</option>
                      {% for p in partners %}
                        <option value="{{ p.pk }}">{{ p }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-row justify-content-end">
                  <div class="form-group col-md-6">
                    <label for="total_price">Total</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text" style="color: #60d3b0 !important; font-weight: 700;">$</div>
                      </div>
                      <input type="number" class="form-control" name="total_price" id="total_price" value="0"
                             placeholder="Valor Total" readonly style="color: #60d3b0 !important; font-weight: 700;">
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="modal-footer d-none">
            <button type="button" class="btn btn-secondary" style="padding: 7px 40px;" data-dismiss="modal">Cancelar
            </button>
            <button type="submit" class="btn btn-submit btn-sell">Vender</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal retiro Socio -->
    <div class="modal fade" id="partner-withdraw" role="dialog" aria-labelledby="partner-withdrawLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title text-center" id="partner-withdrawLabel">Retiro de Socio</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" id="partner-withdraw-form">
              {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-md-6 ">
                  <label for="partner-withdraw">Socio</label>
                  <select class="form-control" id="partner-withdraw" name="partner" style="width: 100%; height: 20px;"
                          required>
                    <option value="" selected disabled>Selecciona un socio</option>
                    {% for p in partners %}
                      <option value="{{ p.pk }}">{{ p }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="value">Valor a Retirar</label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">$</div>
                    </div>
                    <input type="number" class="form-control" name="value" id="value" value="0"
                           placeholder="Valor a retirar">
                  </div>
                </div>
                <div class="form-group col-md-12 d-none">
                  <label for="withdraw-reason">Motivo Retiro</label>
                  <select class="form-control" id="withdraw-reason" name="withdraw-reason" style="width: 100%; height: 20px;">
                    <option value="" selected disabled>Primero selecciona un socio</option>
                  </select>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Validar</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal liquidación Socio -->
    <div class="modal fade" id="partner-closeout" role="dialog" aria-labelledby="partner-closeoutLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title text-center" id="partner-closeoutLabel">Liquidación de Sociedad</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" class="partner-closeout">
              {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="partner-closeout">Socio</label>
                  <select class="form-control" id="partner-closeout" name="partner" style="width: 100%; height: 20px;"
                          required>
                    <option value="" selected disabled>Selecciona un socio</option>
                    {% for p in partners %}
                      <option value="{{ p.pk }}">{{ p }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Validar</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Registro inversiones a Negocios -->
    <div class="modal fade" id="investments" role="dialog" aria-labelledby="investmentsLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title text-center" id="partner-investments">Inversión a negocios</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" id="form-investment">
              {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="partner-investment">Socio</label>
                  <select class="form-control" id="partner-investment" name="partner" style="width: 100%; height: 20px;"
                          required>
                    <option value="" selected disabled>Selecciona un socio</option>
                    {% for p in partners %}
                      <option value="{{ p.pk }}">{{ p }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group col-md-12">
                  <label for="element">Elemento que se negocia</label>
                  <textarea class="form-control" name="element" rows="3" cols="5" required></textarea>
                </div>
                <div class="form-group col-md-12">
                  <label for="conditions">Condiciones de la negociación</label>
                  <textarea class="form-control" name="conditions" rows="3" cols="5" required></textarea>
                </div>
                <div class="form-group col-md-6">
                  <label for="date">Fecha creación inversión</label>
                  <input class="form-control" type="date" name="date" id="date" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="total_value">Valor Total</label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">$</div>
                    </div>
                    <input type="number" class="form-control" name="total_value" id="total_value" value="0"
                           placeholder="Valor Total" required>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="initial_value">Cuota Inicial</label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">$</div>
                    </div>
                    <input type="number" class="form-control" name="initial_value" id="initial_value" value="0"
                           placeholder="Cuota inicial" required>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="monthly_pay">Valor pago mensual</label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">$</div>
                    </div>
                    <input type="number" class="form-control" name="monthly_pay" id="monthly_pay" value="0"
                           placeholder="Valor del Pago Mensual" required>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="time">Plazo en meses (opcional)</label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">Meses</div>
                    </div>
                    <input type="number" class="form-control" name="time" id="time"
                           placeholder="Plazo en meses (opcional)">
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="investment_type">Tipo de inversión</label>
                  <select class="form-control" id="investment_type" name="investment_type"
                          style="width: 100%; height: 20px;"
                          required>
                    <option value="" selected disabled>Selecciona el tipo de inversión</option>
                    <option value="PE">Personal</option>
                    <option value="BS">De Negocio</option>
                  </select>
                </div>
              </div>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Crear</button>
            </form>
          </div>
          <div class="modal-footer">

          </div>
        </div>
      </div>
    </div>

  </section>


{% endblock %}

{% block js %}
  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.8.1/dist/sweetalert2.all.min.js"
          integrity="sha256-4C6NKWU/KCrmNNJY93CKZxCbjC37rNavGUM9IDc8OOY=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.js"></script>
  <script src="{% static 'js/data-table/datatables.min.js' %}"></script>
  <script src="{% static 'js/data-table/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/data-table/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'js/data-table/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/data-table/jszip.min.js' %}"></script>
  <script src="{% static 'js/data-table/vfs_fonts.js' %}"></script>
  <script src="{% static 'js/data-table/buttons.html5.min.js' %}"></script>
  <script src="{% static 'js/data-table/buttons.print.min.js' %}"></script>
  <script src="{% static 'js/data-table/buttons.colVis.min.js' %}"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
  <script type="text/javascript" src="{% static 'js/dynamic-form.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
          integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

  <script>
    $(document).ready(function (e) {

      axios.defaults.headers.common['Api-Key'] = '{{API_KEY}}'

      $('.datetimepicker').keypress(function (e) {
        return false
      });

      $('#sell-unit select').each(function () {
        $(this).select2({
          language: "es"
        });
      });

      $('#partner-withdraw select').each(function () {
        $(this).select2({
          language: "es"
        });
      });

      $('#partner-closeout select').each(function () {
        $(this).select2({
          language: "es"
        });
      });

      $('#form-investment select').each(function () {
        $(this).select2({
          language: "es"
        });
      });

      $('#partner').on('change', function () {
        $('.unit-fields').addClass('d-none')
        axios.get(`/api/units/${$(this).val()}/list`)
          .then(function (response) {
            data = response.data
            $('#unit').empty()
            $.each(data, function (k, v) {
              $('#unit').append(
                `<option value=${v.id}>${v.name}</option>`
              )
            })
            $('#unit').prepend(
              '<option value="" selected disabled>Selecciona una unidad</option>'
            )
          })
          .catch(function (error) {
            // handle error
            console.log(error);
          })
      })

      $('#unit').on('change', function (e) {
        axios.defaults.headers.common['Api-Key'] = '{{API_KEY}}'
        axios.get(`/api/units/${$(this).val()}/detail`)
          .then(function (response) {
            data = response.data
            $('.unit-fields #name').val(data.name)
            $('#price_items').val(data.unit_price)
            $('.unit-fields').removeClass('d-none')
            $('.modal-footer').removeClass('d-none')
            $('#total_price').val(data.unit_price)
          })
          .catch(function (error) {
            // handle error
            console.log(error);
          })
      })

      $('#price_items').keyup(function () {
        items = parseInt($(this).val())
        venda = parseInt($('#unit_price').val())
        $('#total_price').val(items + venda)
      })

      $('#unit_price').keyup(function () {
        items = parseInt($(this).val())
        venda = parseInt($('#price_items').val())
        $('#total_price').val(items + venda)
      })

      $('#sell-units').on('submit', function (e) {
        e.preventDefault()
        axios.defaults.headers.common['Api-Key'] = '{{API_KEY}}'
        axios.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token }}'
        data = $(this).serialize()
        axios.post('{% url 'api:units:unit_sell' %}', data)
          .then(function (response) {
            data = response.data
            Swal.fire({
              type: 'success',
              title: 'Exitoso',
              text: data,
            }).then((result) => {
              if (result.value) {
                location.reload()
              }
            })
              .catch(function (error) {
                // handle error
                Swal.fire({
                  title: 'Ha ocurrido un error',
                  text: error,
                  type: 'error',
                  showCancelButton: false,
                  confirmButtonColor: '#3085d6',
                  confirmButtonText: 'Aceptar'
                }).then((result) => {
                  if (result.value) {
                    location.reload()
                  }
                })
              })
          })
      })

      let partners = {}
      {% for p in all_partners %}
        partners['{{ p.pk }}'] = '{{ p }}'
      {% endfor %}

      $('#partner-closeout1').on('click', function () {
        Swal.fire({
          title: 'Liquidación de Sociedad',
          input: 'select',
          inputOptions: partners,
          inputPlaceholder: 'Selecciona un socio',
          showCancelButton: true,
          confirmButtonText: 'Validar',
          confirmButtonColor: '#60d3b0',
          cancelButtonText: 'Cancelar',
          showLoaderOnConfirm: true,
          reverseButtons: true,
          inputValidator: (value) => {
            return new Promise((resolve) => {
              if (value) {
                resolve()
              } else {
                resolve('Debes seleccionar un socio')
              }
            })
          },
          preConfirm: (partner) => {
            csrftoken = '{{ csrf_token }}'
            data_send = `csrfmiddlewaretoken=${csrftoken}&partner=${partner}`
            return axios.post('{% url 'api:users:validate_closeout' %}', data_send)
              .then(response => {
                console.log(response)
                if (response.status === 202) {
                  return response.data
                }
                else {
                  return `${partner}`
                }
              })
              .catch(error => {
                Swal.showValidationMessage(
                  `Ha ocurrido un error: ${error}`
                )
              })
          },
          allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
          if (!$.isNumeric(result.value)) {
            Swal.fire({
              title: 'Oops! No puedes hacer la liquidación',
              text: result.value ,
              type: 'warning',
              showCancelButton: false,
              confirmButtonColor: '#60d3b0',
              confirmButtonText: 'Aceptar',
              allowOutsideClick: false,
              reverseButtons: true,
            })
          }
          else {
            Swal.fire({
              title: 'El socio se puede liquidar. Deseas continuar?',
              showCancelButton: true,
              confirmButtonText: 'Si, hacer liquidación',
              confirmButtonColor: '#60d3b0',
              cancelButtonText: 'Cancelar',
              showLoaderOnConfirm: true,
              reverseButtons: true,
              preConfirm: () => {
                csrftoken = '{{ csrf_token }}'
                data_send = `csrfmiddlewaretoken=${csrftoken}&partner=${result.value}`
                return axios.post('{% url 'api:users:closeout' %}', data_send)
                  .then(response => {
                    if (response.status === 200) {
                      return response.data
                    }
                  })
                  .catch(error => {
                    Swal.showValidationMessage(
                      `Ha ocurrido un error: ${error}`
                    )
                  })
              },
              allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
              if (result.value) {
                Swal.fire({
                  title: 'Liquidación Correcta',
                  text: result.value ,
                  type: 'success',
                  showCancelButton: false,
                  confirmButtonColor: '#60d3b0',
                  confirmButtonText: 'Aceptar',
                  allowOutsideClick: false,
                  reverseButtons: true,
                })
              }
            })
          }
        })
      })

      $('.partner-closeout').on('submit', function (e) {
        e.preventDefault()
        withdraw = $(this)
        axios.defaults.headers.common['Api-Key'] = '{{API_KEY}}'
        axios.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token }}'
        data_send = withdraw.serialize()
        console.log(data_send)
        axios.post('{% url 'api:users:validate_closeout' %}', data_send)
        .then(function (response) {
          msg = response.data
          if (response.status === 202) {
            Swal.fire({
              title: 'Oops! No puedes hacer la liquidación',
              text: msg,
              type: 'warning',
              showCancelButton: false,
              confirmButtonColor: '#60d3b0',
              confirmButtonText: 'Aceptar',
              allowOutsideClick: false,
              reverseButtons: true,
            })
          } else {
            Swal.fire({
              title: 'El socio se puede liquidar. Deseas continuar?',
              text: 'Si el socio tiene cadenas activas, a que socio las va a transpasar?',
              input: 'select',
              inputOptions: partners,
              inputPlaceholder: 'Selecciona un socio',
              showCancelButton: true,
              confirmButtonText: 'Si, hacer liquidación',
              confirmButtonColor: '#60d3b0',
              cancelButtonText: 'Cancelar',
              showLoaderOnConfirm: true,
              reverseButtons: true,
              inputValidator: (value) => {
                return new Promise((resolve) => {
                  if (value) {
                    resolve()
                  } else {
                    resolve('Debes seleccionar un socio')
                  }
                })
              },
              preConfirm: (partner) => {
                csrftoken = '{{ csrf_token }}'
                data_send += `&partner_destiny=${partner}`
                console.log(data_send)
                return axios.post('{% url 'api:users:closeout' %}', data_send)
                  .then(response => {
                    if (response.status === 200) {
                      return response.data
                    }
                  })
                  .catch(error => {
                    Swal.showValidationMessage(
                      `Ha ocurrido un error: ${error}`
                    )
                  })
              },
              allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
              if (result.value) {
                Swal.fire({
                  title: 'Liquidación Correcta',
                  text: result.value ,
                  type: 'success',
                  showCancelButton: false,
                  confirmButtonColor: '#60d3b0',
                  confirmButtonText: 'Aceptar',
                  allowOutsideClick: false,
                  reverseButtons: true,
                })
              }
            })

          }
        })
        .catch(function (error) {
          // handle error
          console.log(error)
          Swal.fire({
            title: 'Ha ocurrido un error',
            text: error,
            type: 'error',
            showCancelButton: false,
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'Aceptar'
          }).then((result) => {
            if (result.value) {
              location.reload()
            }
          })
        })

      })

      $('#form-investment').on('submit', function (e) {
        e.preventDefault()
        console.log('FORM SUBMIT')
        axios.defaults.headers.common['Api-Key'] = '{{API_KEY}}'
        axios.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token }}'
        data = $(this).serialize()
        axios.post('{% url 'api:investments:create' %}', data)
          .then(function (response) {
            data = response.data
            Swal.fire({
              type: 'success',
              title: 'Exitoso',
              text: data,
            }).then((result) => {
              if (result.value) {
                location.reload()
              }
            })
              .catch(function (error) {
                // handle error
                Swal.fire({
                  title: 'Ha ocurrido un error',
                  text: error,
                  type: 'error',
                  showCancelButton: false,
                  confirmButtonColor: '#3085d6',
                  confirmButtonText: 'Aceptar'
                }).then((result) => {
                  if (result.value) {
                    location.reload()
                  }
                })
              })
          })
      })

      // codes works on all bootstrap modal windows in application
      $('.modal').on('hidden.bs.modal', function(e)
      {
        //$(this).empty()
      });

    })

    $('#partner-withdraw-form').on('submit', function (e) {
      e.preventDefault()
      withdraw = $(this)
      axios.defaults.headers.common['Api-Key'] = '{{API_KEY}}'
      axios.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token }}'
      data_send = withdraw.serialize()
      axios.post('{% url 'api:users:validate_withdraw' %}', data_send)
        .then(function (response) {
          msg = response.data
          if (response.status === 202) {
            Swal.fire({
              title: 'Oops! No puedes hacer el retiro',
              text: msg + " Deseas pedir autorización para realizar el retiro?",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#60d3b0',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Si, pedir autorización',
              cancelButtonText: "No, Cancelar",
              allowOutsideClick: false,
            }).then((result) => {
              if (result.value) {
                const {value: text} = Swal.fire({
                  title: 'Escribe el motivo para pedir la autorización',
                  input: 'textarea',
                  inputPlaceholder: 'Se debe autorizar el retiro porque ...',
                  showCancelButton: true,
                  inputValidator: (value) => {
                    return !value && 'Debes escribir el motivo para pedir la autorización'
                  },
                  allowOutsideClick: false,
                  showCloseButton: true
                }).then((result) => {
                  if (result.value) {
                    data_withdraw = withdraw.serialize()
                    data_withdraw += `&observation=${result.value}&message=${msg}`
                    axios.post('{% url "api:movements:movement_withdraw_request_create" %}', data_withdraw)
                      .then(function (response) {
                        Swal.fire({
                          title: 'Exitoso!',
                          text: response.data,
                          type: 'success',
                          allowOutsideClick: false
                        }).then((result) => {
                          if (result.value) {
                            location.reload()
                          }
                        })
                      })
                      .catch(function (error) {
                        // handle error
                        console.log(error)
                        console.log(error.response)
                        Swal.fire({
                          title: 'Ha ocurrido un error',
                          text: error.response.data,
                          type: 'error',
                          showCancelButton: false,
                          confirmButtonColor: '#3085d6',
                          confirmButtonText: 'Aceptar'
                        }).then((result) => {
                          if (result.value) {
                            location.reload()
                          }
                        })
                      });
                  }
                })
              } else {
                Swal.fire(
                  'Cancelado',
                  'El movimiento se ha cancelado',
                  'info'
                ).then((result) => {
                  location.reload()
                })
              }
            })
          } else {
            Swal.fire({
              title: 'Validación exitosa!!',
              text: msg + " Deseas continuar?",
              type: 'info',
              showCancelButton: true,
              confirmButtonColor: '#60d3b0',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Si, continuar',
              cancelButtonText: "No, Cancelar",
              allowOutsideClick: false,
              reverseButtons: true,
            }).then((result) => {
              if (result.value) {
                data_withdraw = withdraw.serialize()
                axios.post('{% url "api:movements:withdraw_movement_create" %}', data_withdraw)
                  .then(function (response) {
                    Swal.fire({
                      title: 'Exitoso!',
                      text: response.data,
                      type: 'success',
                      allowOutsideClick: false
                    }).then((result) => {
                      if (result.value) {
                        location.reload()
                      }
                    })
                  })
                  .catch(function (error) {
                    // handle error
                    console.log(error)
                    Swal.fire({
                      title: 'Ha ocurrido un error',
                      text: error.response,
                      type: 'error',
                      showCancelButton: false,
                      confirmButtonColor: '#3085d6',
                      confirmButtonText: 'Aceptar'
                    }).then((result) => {
                      if (result.value) {
                        location.reload()
                      }
                    })
                  });
              } else {
                Swal.fire(
                  'Cancelado',
                  'El movimiento se ha cancelado',
                  'info'
                ).then((result) => {
                  location.reload()
                })
              }
            })
          }
        })
        .catch(function (error) {
          // handle error
          console.log(error)
          Swal.fire({
            title: 'Ha ocurrido un error',
            text: error,
            type: 'error',
            showCancelButton: false,
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'Aceptar'
          }).then((result) => {
            if (result.value) {
              location.reload()
            }
          })
        })
    })

    $('#partner-withdraw').on('change', function (e) {
      $('#withdraw-reason').empty()
      $('#withdraw-reason').append(
        `
          <option value="" selected disabled>Selecciona un motivo</option>
          <option value="DJ">Caja Don Juan</option>
          <option value="PP">Préstamo Personal</option>
          <option value="IN">Inversión Negocios</option>
          <option value="OT">Otros</option>
        `
      )

    })

    $('#menuToggle').on('click', function (event) {
      var windowWidth = $(window).width();
      if (windowWidth < 1010) {
        $('body').removeClass('open');
        if (windowWidth < 760) {
          $('#left-panel').slideToggle();
        } else {
          $('#left-panel').toggleClass('open-menu');
        }
      } else {
        $('body').toggleClass('open');
        $('#left-panel').removeClass('open-menu');
      }

    });

    $(window).on("load resize", function (event) {
      var windowWidth = $(window).width();
      if (windowWidth < 1010) {
        $('body').addClass('small-device');
      } else {
        $('body').removeClass('small-device');
      }

    });

    $('.datetimepicker').datetimepicker({
      format: 'Y-m-d',
      minDate: '-1970/01/03',//yesterday is minimum date(for today use 0 or -1970/01/01)
      maxDate: '0',//tomorrow is maximum date calendar
      timepicker: false,
    });

  </script>
{% endblock %}

{% block extra_js %}{% endblock %}
</body>
</html>
