{% extends "base.html" %}

{% load static humanize %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/datatable/dataTables.bootstrap.min.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
{% endblock %}

{% block navbar %}
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="
        {% if request.user.is_superuser or is_admin_charge %}
          {% url 'webclient:office' office.slug %}
        {% elif request.user.session_employee %}
          {% url 'webclient:employee_list' office.slug %}
        {% else %}
          {% url 'webclient:partners_list' office.slug %}
        {% endif %}
        ">
        <i class="menu-icon fa fa-laptop"></i>
        {{ office }}
      </a>
    </li>
    {% if perms.office %}
      <li class="menu-title">DETALLE OFICINA</li><!-- /.menu-title -->
      {% if perms.office.change_office %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:office' office.slug %}">
            <img src="{% static 'icons/ICONOS-01.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Caja oficina
          </a>
        </li>
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:box_usd' office.slug %}">
            <img src="{% static 'icons/ICONOS-01.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Caja oficina Dólares
          </a>
        </li>
      {% endif %}
      {% if perms.boxes.change_boxdonjuan %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:box_don_juan' office.slug %}">
            <img src="{% static 'icons/ICONOS-02.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Caja Don Juan
          </a>
        </li>
      {% endif %}
      {% if perms.office.change_officeitems %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:office_items_list' office.slug %}">
            <img src="{% static 'icons/ICONOS-03.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Inventario Oficina
          </a>
        </li>
      {% endif %}

      {% if perms.office.change_supervisorcalendar %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:groups' office.slug %}">
            <img src="{% static 'icons/ICONOS-05.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Grupos
          </a>
        </li>
      {% endif %}
      {% if perms.office.change_notifications %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:notifications' office.slug %}">
            <i class="fas fa-bell mr-4 ml-1"></i>
            Notificaciones
          </a>
        </li>
      {% endif %}
    {% endif %}
    {% if perms.users.change_partner %}
      <li class="menu-title">Socios</li><!-- /.menu-title -->
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:partners_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-04.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Lista de socios
        </a>
      </li>
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:investment_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-04.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Lista de inversiones
        </a>
      </li>
      {% if request.user.is_superuser or is_admin_charge %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:closeout_boxes' office.slug %}">
            <img src="{% static 'icons/ICONOS-04.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Cajas Liquidadas
          </a>
        </li>
      {% endif %}
    {% endif %}
    {% if perms.users.change_employee %}
      <li class="menu-title">Empleados</li><!-- /.menu-title -->
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:employee_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-05.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Lista de empleados
        </a>
      </li>
    {% endif %}

    <li class="menu-title">Secretaria</li><!-- /.menu-title -->
    {% if perms.units.change_unit %}
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:units_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-06.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Árbol de unidades
        </a>
      </li>
    {% endif %}
    {% if perms.boxes.change_boxdailysquare %}
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:daily_square_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-07.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Cuadres diarios
        </a>
      </li>
    {% endif %}
    {% if perms.office.change_officecommitments %}
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:provisioning' office.slug %}">
          <img src="{% static 'icons/ICONOS-08.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Aprovisionamiento
        </a>
      </li>
    {% endif %}
    {% if perms.loans.change_loan %}
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:loan_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-09.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Préstamos
        </a>
      </li>
    {% endif %}
    {% if perms.chains.change_chain %}
      <li class="menu-item-has-children dropdown active">
        <a href="{% url 'webclient:chain_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-10.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Cadenas
        </a>
      </li>
    {% endif %}
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h2 class="mb-3">Crear Cadena</h2>
                <form class="create-chain">
                  {% csrf_token %}
                  <input type="hidden" name="office" value="{{ office.pk }}">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="chain-name">Nombre Cadena</label>
                      <input type="text" class="form-control name" id="chain-name" name="name"
                             placeholder="Nombre cadena" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="places">Número de puestos</label>
                      <input type="number" class="form-control" id="places" name="places"
                             placeholder="Número de puestos" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="place_value">Valor del puesto</label>
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">$</div>
                        </div>
                        <input type="number" class="form-control" name="place_value" id="place_value" value="0"
                               placeholder="Valor del puesto" required>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="chain_type">Tipo de cadena</label>
                      <select class="form-control" name="chain_type" id="chain_type" style="width: 100%; height: 20px;"
                              required>
                        <option value="" selected disabled>Selecciona el tipo de cadena</option>
                        <option value="IN">Interna</option>
                        <option value="EX">Externa</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <a class="btn btn-add arqueo float-left mr-md-0" data-toggle="modal"
                      data-target="#modalUser">Agregar Usuario Externo</a>
                    </div>
                  </div>

                  <hr>
                  <div class="places">
                    <div class="form-row places-list">
                    </div>
                  </div>
                  <button type="submit" class="btn btn-submit float-right d-none mt-4">Crear Cadena</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal add user -->
  <div class="modal fade" id="modalUser" role="dialog" aria-labelledby="modalPartnerTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLongTitle">Añadir Usuario Externo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" id="add-user">
            {% csrf_token %}
            <input type="hidden" name="office" value="{{ office.pk }}">
            <input type="hidden" name="is_daily_square" value="false">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="concept">Nombres</label>
                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Nombres"
                       required>
              </div>
              <div class="form-group col-md-6">
                <label for="concept">Apellidos</label>
                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Apellidos"
                       required>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="document_type">Tipo de Documento</label>
                <select class="form-control" id="document_type" name="document_type" required>
                  <option selected disabled value="">Selecciona el tipo de documento</option>
                  <option value="CC">Cédula de Ciudadanía</option>
                  <option value="CE">Cédula Extranjera</option>
                  <option value="PA">Pasaporte</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="document_id">Número de documento</label>
                <input type="text" class="form-control" id="document_id" name="document_id"
                       placeholder="Número de documento" required>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="email">Correo electrónico</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="email@mail.com" required>
              </div>
            </div>
            <button type="submit" class="btn btn-submit btn-add-user">Añadir</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_js %}

  <script type="text/javascript">
    $(document).ready(function () {
      $('#table').DataTable({
        "scrollX": true,
        dom: 'lBfrtip',
        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
        buttons: [
          'excel', 'print'
        ],
        "order": [[1, "asc"]],
        language: {
          "sProcessing": "Procesando...",
          "sLengthMenu": "Mostrar _MENU_ registros",
          "sZeroRecords": "No se encontraron resultados",
          "sEmptyTable": "Ningún dato disponible en esta tabla",
          "sInfo": "Mostrando  _START_ al _END_ de  _TOTAL_ registros",
          "sInfoEmpty": "Mostrando del 0 al 0 de 0 registros",
          "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
          "sInfoPostFix": "",
          "sSearch": "Buscar:",
          "sUrl": "",
          "sInfoThousands": ",",
          "sLoadingRecords": "Cargando...",
          "oPaginate": {
            "sFirst": "Primero",
            "sLast": "Último",
            "sNext": "Siguiente",
            "sPrevious": "Anterior"
          },
          "oAria": {
            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
          }
        }
      });

      $('.create-chain select').each(function () {
        $(this).select2({
          language: "es"
        });
      });
    });
    var counters = {}
    $('#places').on('change', function () {
      counters = {}
      $('.btn-submit').removeClass('d-none')
      $('.places-list').empty()

      for (i = 1; i <= $(this).val(); i++) {
        $('.places-list').append(
          `
              <div class="form-group col-md-12">
                <div class="places-item">
                  <span class="place-name">Puesto ${i}</span>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="pay_date_${i}">Fecha de pago del puesto</label>
                      <input type="date" class="form-control" id="pay_date_${i}" name="pay_date_${i}" placeholder="yyyy-mm-dd" style="width: 100%;" required>
                    </div>
                  </div>
                  <div class="form-group" id="dynamic_form_${i}">
                    <div class="row" id="field">
                      <div class="col-md-4">
                        <label for="partner">Usuario</label>
                        <select class="form-control select2-test" name="partner_${i}" id="partner_${i}" style="width: 100%">
                          <option value="" selected disabled>Selecciona un usuario</option>
                          {% for p in users %}
                            <option value="{{p.pk}}">{{p.get_full_name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-md-4">
                        <label for="office">Oficina</label>
                        <select class="form-control select2-test" name="office_${i}" id="office_${i}" style="width: 100%">
                          <option value="" selected disabled>Selecciona una oficina</option>
                          {% for o in offices %}
                            <option value="{{o.pk}}">{{o}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-md-2">
                          <label for="place_porcentaje">Porcentaje</label>
                          <div class="input-group mb-2">
                            <div class="input-group-prepend">
                              <div class="input-group-text">%</div>
                            </div>
                            <input type="number" step="0.01" class="form-control" name="place_porcentaje_${i}" id="place_porcentaje_${i}" value="0" min=0>
                          </div>
                      </div>
                      <div class="col-md-2 pt-4">
                          <a href="#" class="btn btn-danger minus_${i} minus_btn" data-id="${i}" id="minus_${i}"><i class="fas fa-trash-alt"></i></a>
                      </div>
                    </div>
                    <a href="#" class="btn btn-dynamic mt-4 plus_${i} plus_btn" data-id="${i}" id="plus_${i}">Agregar usuario</a>
                  </div>
                </div>
              </div>
           `
        )
        counters[`counter_${i}`] = 1
        $(`#dynamic_form_${i}`).dynamicForm(`#dynamic_form_${i}`, `#plus_${i}`, `#minus_${i}`, {
          limit: 15,
          formPrefix: "form",
          normalizeFullForm: false,
        });
      }
    })

    $('.places-list').on('click', `a.minus_btn`, function () {
      id = $(this).data('id')
      counters[`counter_${id}`] -= 1
    })
    $('.places-list').on('click', `a.plus_btn`, function () {
      id = $(this).data('id')
      counters[`counter_${id}`] += 1
    })

    $('.create-chain').on('submit', function (e) {
      e.preventDefault()
      var values = {};
      $.each($('form.create-chain').serializeArray(), function (i, field) {
        values[field.name] = field.value;
      });
      values['counters'] = counters
      axios.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token }}'
      axios.post("{% url 'api:chains:chain_create' %}", values)
        .then(function (response) {
          data = response.data
          Swal.fire({
            title: 'Exitoso',
            text: data,
            type: 'success',
            showCancelButton: false,
            confirmButtonColor: '#60d3b0',
            confirmButtonText: 'Aceptar'
          }).then(() => {
            location.href = "{% url 'webclient:chain_list' office.slug %}"
          })
        })
        .catch(function (error) {
          // handle error
          console.log(error);
        })
    })

    $("#add-user").on('submit', function (ev) {
      ev.preventDefault()
      form = $(this)
      submitButton = form.find('#submit-customer-1').eq(0)
      submitButton.addClass('disabled')
      submitButton.attr('disabled', true)
      data = form.serialize()
      axios.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token }}'
      axios.post("{% url 'api:users:user_create' %}", data)
      .then(function (response) {
          data = response.data
          Swal.fire({
            title: 'Exitoso',
            text: data,
            type: 'success',
            showCancelButton: false,
            confirmButtonColor: '#60d3b0',
            confirmButtonText: 'Aceptar'
          }).then(() => {
            location.reload()
          })
        })
        .catch(function (error) {
          // handle error
          console.log(error);
        })
    })

  </script>
{% endblock %}

