{% extends "base.html" %}

{% load static humanize %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/datatable/dataTables.bootstrap.min.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
{% endblock %}

{% block navbar %}
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="{% url 'webclient:office' office.slug %}"><i class="menu-icon fa fa-laptop"></i>{{ office }}</a>
    </li>
    {% if perms.office %}
      <li class="menu-title">DETALLE OFICINA</li><!-- /.menu-title -->
      {% if perms.office.change_office %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:office' office.slug %}">
            <img src="{% static 'icons/ICONOS-01.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Caja oficina
          </a>
        </li>
      {% endif %}
      {% if perms.boxes.change_boxdonjuan %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:box_don_juan' office.slug %}">
            <img src="{% static 'icons/ICONOS-02.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Caja Don Juan
          </a>
        </li>
      {% endif %}
      {% if perms.office.change_officeitems %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:office_items_list' office.slug %}">
            <img src="{% static 'icons/ICONOS-03.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Inventario Oficina
          </a>
        </li>
      {% endif %}
      {% if perms.office.change_supervisorcalendar %}
        <li class="menu-item-has-children dropdown active">
          <a href="{% url 'webclient:calendar' office.slug %}">
            <img src="{% static 'icons/ICONOS-06.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Calendario Supervisor
          </a>
        </li>
      {% endif %}
    {% endif %}
    {% if perms.users.change_partner %}
      <li class="menu-title">Socios</li><!-- /.menu-title -->
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:partners_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-04.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Lista de socios
        </a>
      </li>
    {% endif %}
    {% if perms.users.change_employee %}
      <li class="menu-title">Empleados</li><!-- /.menu-title -->
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:employee-list' office.slug %}">
          <img src="{% static 'icons/ICONOS-05.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Lista de empleados
        </a>
      </li>
    {% endif %}

    <li class="menu-title">Secretaria</li><!-- /.menu-title -->
    {% if perms.units.change_unit %}
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:units_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-06.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Árbol de unidades
        </a>
      </li>
    {% endif %}
    {% if perms.boxes.change_boxdailysquare %}
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:daily_square_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-07.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Cuadres diarios
        </a>
      </li>
    {% endif %}
    {% if perms.office.change_officecommitments %}
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:provisioning' office.slug %}">
          <img src="{% static 'icons/ICONOS-08.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Aprovisionamiento
        </a>
      </li>
    {% endif %}
    {% if perms.loans.change_loan %}
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:loan_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-09.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Préstamos
        </a>
      </li>
    {% endif %}
    {% if perms.chains.change_chain %}
      <li class="menu-item-has-children dropdown active">
        <a href="{% url 'webclient:chain_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-10.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Cadenas
        </a>
      </li>
    {% endif %}
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h2 class="mb-3">Crear Cadena</h2>
                <form class="create-chain">
                  {% csrf_token %}
                  <input type="hidden" name="office" value="{{ office.pk }}">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="chain-name">Nombre Cadena</label>
                      <input type="text" class="form-control name" id="chain-name" name="name"
                             placeholder="Nombre cadena" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="places">Número de puestos</label>
                      <input type="number" class="form-control" id="places" name="places"
                             placeholder="Número de puestos" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="place_value">Valor del puesto</label>
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">$</div>
                        </div>
                        <input type="number" class="form-control" name="place_value" id="place_value" value="0"
                               placeholder="Valor del puesto" required>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="chain_type">Tipo de cadena</label>
                      <select class="form-control" name="chain_type" id="chain_type" style="width: 100%; height: 20px;"
                              required>
                        <option value="" selected disabled>Selecciona el tipo de cadena</option>
                        <option value="IN">Interna</option>
                        <option value="EX">Externa</option>
                      </select>
                    </div>
                  </div>
                  <hr>
                  <div class="places">
                    <div class="form-row places-list">
                    </div>
                  </div>
                  <button type="submit" class="btn btn-submit float-right d-none mt-4">Crear Cadena</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_js %}


  <script src="{% static 'js/data-table/datatables.min.js' %}"></script>
  <script src="{% static 'js/data-table/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/data-table/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'js/data-table/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/data-table/jszip.min.js' %}"></script>
  <script src="{% static 'js/data-table/vfs_fonts.js' %}"></script>
  <script src="{% static 'js/data-table/buttons.html5.min.js' %}"></script>
  <script src="{% static 'js/data-table/buttons.print.min.js' %}"></script>
  <script src="{% static 'js/data-table/buttons.colVis.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/dynamic-form.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#table').DataTable({
        responsive: {
          details: true
        },
        dom: 'lBfrtip',
        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
        buttons: [
          'excel', 'print'
        ],
        "order": [[1, "asc"]],
        language: {
          "sProcessing": "Procesando...",
          "sLengthMenu": "Mostrar _MENU_ registros",
          "sZeroRecords": "No se encontraron resultados",
          "sEmptyTable": "Ningún dato disponible en esta tabla",
          "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
          "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
          "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
          "sInfoPostFix": "",
          "sSearch": "Buscar:",
          "sUrl": "",
          "sInfoThousands": ",",
          "sLoadingRecords": "Cargando...",
          "oPaginate": {
            "sFirst": "Primero",
            "sLast": "Último",
            "sNext": "Siguiente",
            "sPrevious": "Anterior"
          },
          "oAria": {
            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
          }
        }
      });

      $('.create-chain select').each(function () {
        $(this).select2({
          language: "es"
        });
      });
    });
    var counters = {}
    $('#places').on('change', function () {
      counters = {}
      $('.btn-submit').removeClass('d-none')
      $('.places-list').empty()

      for (i = 1; i <= $(this).val(); i++) {
        $('.places-list').append(
          `
                <div class="form-group col-md-6">
                  <div class="places-item">
                    <span class="place-name">Puesto ${i}</span>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="pay_date_${i}">Fecha de pago del puesto</label>
                        <input type="text" class="form-control datetimepicker" id="pay_date_${i}" name="pay_date_${i}" placeholder="yyyy-mm-dd" style="width: 100%;" required>
                      </div>
                    </div>
                    <div class="form-group" id="dynamic_form_${i}">
                      <div class="row" id="field">
                        <div class="col-md-6">
                          <label for="partner">Socio</label>
                          <select class="form-control select2-test" name="partner_${i}" id="partner_${i}" style="width: 100%">
                            <option value="" selected disabled>Selecciona un socio</option>
                            {% for p in all_partners %}
                              <option value="{{p.pk}}">{{p}}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="col-md-4">
                            <label for="place_porcentaje">Porcentaje</label>
                            <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                <div class="input-group-text">%</div>
                              </div>
                              <input type="number" class="form-control" name="place_porcentaje_${i}" id="place_porcentaje_${i}" value="0">
                            </div>
                        </div>
                        <div class="col-md-2 pt-4">
                            <a href="#" class="btn btn-danger minus_${i} minus_btn" data-id="${i}" id="minus_${i}"><i class="fas fa-trash-alt"></i></a>
                        </div>
                      </div>
                      <a href="#" class="btn btn-dynamic mt-4 plus_${i} plus_btn" data-id="${i}" id="plus_${i}">Agregar socio</a>
                    </div>
                  </div>
                </div>
              `
        )
        counters[`counter_${i}`] = 1
        $(`#dynamic_form_${i}`).dynamicForm(`#dynamic_form_${i}`, `#plus_${i}`, `#minus_${i}`, {
          limit: 15,
          formPrefix: "form",
          normalizeFullForm: false,
        });
      }
    })

    $('.places-list').on('click', `a.minus_btn`, function () {
      id = $(this).data('id')
      counters[`counter_${id}`] -= 1
    })
    $('.places-list').on('click', `a.plus_btn`, function () {
      id = $(this).data('id')
      counters[`counter_${id}`] += 1
    })

    $('.create-chain').on('submit', function (e) {
      e.preventDefault()
      var values = {};
      $.each($('form.create-chain').serializeArray(), function (i, field) {
        values[field.name] = field.value;
      });
      values['counters'] = counters
      console.log(values)
      axios.defaults.headers.common['Api-Key'] = '{{API_KEY}}'
      axios.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token }}'
      axios.post("{% url 'api:chains:chain_create' %}", values)
        .then(function (response) {
          data = response.data
          Swal.fire({
            title: 'Exitoso',
            text: data,
            type: 'success',
            showCancelButton: false,
            confirmButtonColor: '#60d3b0',
            confirmButtonText: 'Aceptar'
          }).then(() => {
            location.href = "{% url 'webclient:chain_list' office.slug %}"
          })
        })
        .catch(function (error) {
          // handle error
          console.log(error);
        })
    })

  </script>
{% endblock %}

