{% extends "base.html" %}

{% load static humanize %}
{% load office_dailysquare_box three_days %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/datatable/dataTables.bootstrap.min.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
{% endblock %}

{% block navbar %}
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="
        {% if request.user.is_superuser or request.user.related_employee.get.is_admin_charge %}
          {% url 'webclient:office' office.slug %}
        {% elif request.user.is_employee %}
          {% url 'webclient:employee_list' office.slug %}
        {% else %}
          {% url 'webclient:partners_list' office.slug %}
        {% endif %}
        ">
        <i class="menu-icon fa fa-laptop"></i>
        {{ office }}
      </a>
    </li>
    {% if perms.office %}
      <li class="menu-title">DETALLE OFICINA</li><!-- /.menu-title -->
      {% if perms.office.change_office %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:office' office.slug %}">
            <img src="{% static 'icons/ICONOS-01.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Caja oficina
          </a>
        </li>
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:box_usd' office.slug %}">
            <img src="{% static 'icons/ICONOS-01.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Caja oficina Dólares
          </a>
        </li>
      {% endif %}
      {% if perms.boxes.change_boxdonjuan %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:box_don_juan' office.slug %}">
            <img src="{% static 'icons/ICONOS-02.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Caja Don Juan
          </a>
        </li>
      {% endif %}
      {% if perms.office.change_officeitems %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:office_items_list' office.slug %}">
            <img src="{% static 'icons/ICONOS-03.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Inventario Oficina
          </a>
        </li>
      {% endif %}
      {% if perms.office.change_supervisorcalendar %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:calendar' office.slug %}">
            <img src="{% static 'icons/ICONOS-06.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Calendario Supervisor
          </a>
        </li>
      {% endif %}
      {% if perms.office.change_supervisorcalendar %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:groups' office.slug %}">
            <img src="{% static 'icons/ICONOS-05.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Grupos
          </a>
        </li>
      {% endif %}
      {% if perms.office.change_notifications %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:notifications' office.slug %}">
            <i class="fas fa-bell mr-4 ml-1"></i>
            Notificaciones
          </a>
        </li>
      {% endif %}
    {% endif %}
    {% if perms.users.change_partner %}
      <li class="menu-title">Socios</li><!-- /.menu-title -->
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:partners_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-04.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Lista de socios
        </a>
      </li>
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:investment_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-04.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Lista de inversiones
        </a>
      </li>
      {% if request.user.is_superuser or request.user.related_employee.get.is_admin_charge %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:closeout_boxes' office.slug %}">
            <img src="{% static 'icons/ICONOS-04.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Cajas Liquidadas
          </a>
        </li>
      {% endif %}
    {% endif %}
    {% if perms.users.change_employee %}
      <li class="menu-title">Empleados</li><!-- /.menu-title -->
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:employee_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-05.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Lista de empleados
        </a>
      </li>
    {% endif %}

    <li class="menu-title">Secretaria</li><!-- /.menu-title -->
    {% if perms.units.change_unit %}
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:units_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-06.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Árbol de unidades
        </a>
      </li>
    {% endif %}
    {% if perms.boxes.change_boxdailysquare %}
      <li class="menu-item-has-children dropdown active">
        <a href="{% url 'webclient:daily_square_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-07.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Cuadres diarios
        </a>
      </li>
    {% endif %}
    {% if perms.office.change_officecommitments %}
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:provisioning' office.slug %}">
          <img src="{% static 'icons/ICONOS-08.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Aprovisionamiento
        </a>
      </li>
    {% endif %}
    {% if perms.loans.change_loan %}
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:loan_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-09.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Préstamos
        </a>
      </li>
    {% endif %}
    {% if perms.chains.change_chain %}
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:chain_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-10.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Cadenas
        </a>
      </li>
    {% endif %}
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <table id="table" class="table table-striped table-bordered display responsive display nowrap"
                       cellspacing="0" style="width:100%">
                  <h3 class="mb-4">Cuadre Diario de {{ box_user.get_full_name }} ({{ box_user.pk }})
                    {% if box.is_closed %}
                      <span style="color:red">Cerrada</span> {% endif %}</h3>
                  <h3 class="float-right">SALDO CAJA: $
                    {{ box.balance|intcomma }}{{ office.country.currency.abbr }}  </h3>
                  <thead>
                  <tr>
                    <th>Responsable</th>
                    <th>Fecha</th>
                    <th>Concepto</th>
                    <th>Detalle</th>
                    <th>Entra</th>
                    <th>Sale</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for m in box.movements.all %}
                    <tr>
                      <td>{{ m.responsible.get_full_name }}</td>
                      <td>{{ m.date|date:"d-M-Y" }}</td>
                      <td>{{ m.concept.name }}</td>
                      <td>{{ m.detail }}</td>
                      <td>{% if m.movement_type == 'IN' %}${{ m.value|intcomma }}
                        {{ office.country.currency.abbr }}{% else %}-{% endif %}</td>
                      <td>{% if m.movement_type == 'OUT' %}${{ m.value|intcomma }}
                        {{ office.country.currency.abbr }}{% else %}-{% endif %}</td>
                      <td>
                        {% if request.user.is_superuser or request.user.related_employee.get.is_admin_charge %}
                          {% if m.date|three_last_days %}
                            <a href="#" class="edit-item" data-id="{{ m.id }}" data-toggle="modal"
                               data-target="#addMovement">Editar</a>
                          {% endif %}
                        {% elif m.date|date:"d/m/Y" == today and not box.is_closed %}
                          <a href="#" class="edit-item" data-id="{{ m.id }}" data-toggle="modal"
                             data-target="#addMovement">Editar</a>
                        {% endif %}
                        {% if request.user.is_superuser %}
                          <a href="#" class="delete-item" data-id="{{ m.id }}">Eliminar</a>
                        {% endif %}
                        {% if not m.review %}
                          {% if perms.movement.add_movementdonjuan and perms.movement.add_movementpartner %}
                            <a href="#" class="accept-mv" data-id="{{ m.pk }}">Aprobar</a>
                            <a href="#" class="decline-mv" data-id="{{ m.pk }}">Rechazar</a>
                            <a href="#" class="dispersion-mv" data-pk="{{ m.pk }}" data-value="{{ m.value }}"
                               data-toggle="modal"
                               data-target="#dispersionMovement">
                              Dispersión
                            </a>
                          {% endif %}
                        {% else %}
                          <span
                            class="{% if m.status == 'AP' %}green{% elif m.status == 'DE' %}red{% else %}orange{% endif %}">
                            {{ m.get_status_display }}
                          </span>

                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        {% if request.user.is_secretary or request.user.is_superuser %}
          <a href="" id="add-movement-btn" class="float" data-toggle="modal" data-target="#addMovement">
            <i class="fa fa-plus my-float"></i>
          </a>
          <div class="label-container">
            <div class="label-text">Añadir movimiento</div>
            <i class="fa fa-play label-arrow"></i>
          </div>
        {% elif perms.movement.add_movementdailysquare and not box.is_closed and not past_mvments %}
          <a href="" id="add-movement-btn" class="float" data-toggle="modal" data-target="#addMovement">
            <i class="fa fa-plus my-float"></i>
          </a>
          <div class="label-container">
            <div class="label-text">Añadir movimiento</div>
            <i class="fa fa-play label-arrow"></i>
          </div>
        {% endif %}
        {% if not box.is_closed and request.user == box_user %}
          <a href="#" class="close-box float" style="bottom:110px;">
            <i class="fas fa-power-off my-float"></i>
          </a>
          <div class="label-close">
            <div class="label-text">Cerrar Caja</div>
            <i class="fa fa-play label-arrow"></i>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Modal add movement -->
  <div class="modal fade" id="addMovement" role="dialog" aria-labelledby="addMovementTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLongTitle">Añadir movimiento</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" class="add-movement">
            {% csrf_token %}
            <input type="hidden" id="method_modal" name="method_modal" value="" data-id="">
            <input type="hidden" name="user_id" value="{{ box.user.pk }}">
            <input type="hidden" name="office_slug" value="{{ office.slug }}">
            <input type="hidden" name="office" value="{{ office.pk }}">
            <input type="hidden" id="concept_id" name="concept_id" value="">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="concept">Concepto </label>
                <select class="form-control" id="concept" name="concept" style="width: 100%; height: 20px;" required>
                  <option disabled selected value="">Selecciona un concepto</option>
                  {% for concept in concepts %}
                    <option value="{{ concept.pk }}"
                            data-relationship="{{ concept.relationship }}">{{ concept }}</option>
                  {% endfor %}
                </select>

              </div>
              <div class="form-group col-md-6">
                <label for="date">Fecha</label>
                <input type="text" class="form-control datetimepicker_dailysquare" id="date" name="date"
                       placeholder="yyyy-mm-dd"
                       style="width: 100%;" required autocomplete="off">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="movement_type">Entra / Sale</label>
                <select class="form-control" id="movement_type" name="movement_type" style="width: 100%; height: 20px;"
                        required>
                  <option selected disabled value="">Selecciona el tipo de movimiento</option>
                  <option value="IN">Entra</option>
                  <option value="OUT">Sale</option>
                </select>
              </div>
              <div class="form-group col-md-6" id="regular-value">
                <label for="value">Valor</label>
                <input type="number" class="form-control" id="value" name="value" placeholder="Valor del movimiento"
                       autocomplete="off">
              </div>
            </div>
            <div class="form-row d-none" id="usd-buy">
              <div class="form-group col-md-6">
                <label for="buy_usd_value">Valor en USD</label>
                <input type="number" class="form-control" id="buy_usd_value" name="buy_usd_value"
                       placeholder="Valor compra en USD">
              </div>
              <div class="form-group col-md-6">
                <label for="buy_value">Valor en ${{ box.office.country.abbr }}</label>
                <input type="number" class="form-control" id="buy_value" name="buy_value" placeholder="Valor compra">
              </div>
            </div>
            <div class="form-row d-none" id="usd-sell">
              <div class="form-group col-md-6">
                <label for="sell_usd_value">Valor en USD</label>
                <input type="number" class="form-control" id="sell_usd_value" name="sell_usd_value"
                       placeholder="Valor venta en usd">
              </div>
              <div class="form-group col-md-6">
                <label for="sell_value">Valor en ${{ box.office.country.abbr }}</label>
                <input type="number" class="form-control" id="sell_value" name="sell_value"
                       placeholder="Valor venta en ${{ box.office.country.abbr }}">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 office-select d-none">
                <label for="office">Oficina</label>
                <select class="form-control" id="office" name="office" style="width: 100%; height: 20px;">
                  <option value="" selected disabled>Selecciona una oficina</option>
                  {% for o in offices %}
                    <option value="{{ o.pk }}">{{ o }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group col-md-6 partner-select d-none">
                <label for="partner">Socio</label>
                <select class="form-control" id="partner" name="partner" style="width: 100%; height: 20px;">
                  <option value="" selected disabled>Selecciona un socio</option>
                  {% for p in partners %}
                    <option value="{{ p.pk }}">{{ p }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group col-md-6 unit-select d-none">
                <label for="unit">Unidad</label>
                <select class="form-control" id="unit" name="unit" style="width: 100%; height: 20px;">
                  <option value="" selected disabled>Selecciona la unidad</option>
                  {% for unit in units %}
                    <option value="{{ unit.pk }}">{{ unit.name }} (Cobrador: {{ unit.collector.get_full_name }})
                    </option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group col-md-6 dq-select d-none" id="dq-select-div">
                <label for="dq-select">Socio</label>
                <select class="form-control" id="dq-select" name="dq" style="width: 100%; height: 20px;">
                  <option value="" selected disabled>Selecciona un cuadre diario</option>
                  {% for d in dq_list %}
                    <option value="{{ d.pk }}">{{ d }} (Codigo: {{ d.pk }})</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 user-select d-none">
                <label for="user">Persona</label>
                <select class="form-control" id="user" name="user" style="width: 100%; height: 20px;">
                  <option value="" selected disabled>Selecciona un usuario</option>
                  {% for user in users %}
                    <option value="{{ user.pk }}">{{ user.get_full_name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 loan-select d-none">
                <label for="loan">Préstamo</label>
                <select class="form-control" id="loan" name="loan" style="width: 100%; height: 20px;">

                </select>
              </div>
              <div class="form-group col-md-6 chain-select d-none">
                <label for="chain">Cadena</label>
                <select class="form-control" id="chain" name="chain" style="width: 100%; height: 20px;">

                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="detail">Detalle</label>
              <textarea class="form-control" id="detail" rows="3" name="detail" placeholder="Ingresa el detalle"
                        required></textarea>
            </div>
            <!-- Appears if concept equals to Compra de Inventario Unidades-->
            <div class="scape" id="unit_select">
              <hr>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="unity">Unidad</label>
                  <select class="form-control" id="unity" name="unit" style="width: 100%;">
                    <option disabled value="" selected>Selecciona una unidad</option>
                    {% for unit in units %}
                      <option value="{{ unit.pk }}">{{ unit.name }} (Cobrador: {{ unit.collector.get_full_name }})
                      </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <!--Replication-->
            <div class="dynamic_controller" id="unit_inventory_edit">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inventory_name">Nombre</label>
                  <input type="text" class="form-control" id="edit_inventory_name" name="name"
                         placeholder="Nombre del item"
                  >
                </div>
                <div class="form-group col-md-6">
                  <label for="category">Categoría </label>
                  <div>
                    <select class="form-control category_edit_control" id="edit_inventory_category" name="category"
                            style="width: 100%;">
                      <option disabled value="" selected>Selecciona una categoría</option>
                      {% for category in categories %}
                        <option value="{{ category.pk }}">{{ category }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="brand">Marca </label>
                  <select class="form-control brand_control" id="edit_inventory_brand" name="brand" style="width: 100%;"
                  >
                    <option disabled value="" selected>Selecciona una marca</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="price">Precio</label>
                  <input type="number" class="form-control" id="edit_inventory_price" name="price"
                         placeholder="Precio del item"
                  >
                </div>
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input is_replacement_control" id="is_replacement"
                       name="is_replacement">
                <label class="form-check-label" for="is_replacement">Repuesto</label>
              </div>
              <div class="form-row justify-content-center">
                <div class="col-md-3 pt-1 text-center">
                  <a href="#" class="btn btn-danger d-none" id="minus5_edit">Eliminar</a>
                </div>
                <div class="col-md-3 pt-1 text-center">
                  <a href="#" class="btn btn-primary" id="plus5_edit">Agregar Item</a>
                </div>
              </div>
              <br>
            </div>
            <!-- end replication -->
            <button type="submit" class="btn btn-submit btn-add-movement">Agregar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal dispersion -->
  <div class="modal fade" id="dispersionMovement" role="dialog" aria-labelledby="dispersionMovementTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLongTitle">Dispersión de movimiento</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" id="dispersion-mv" action="{% url 'webclient:add_daily_square_movement' %}">
            {% csrf_token %}
            <input type="hidden" name="id" value="" class="movement-id">
            <input type="hidden" name="value" value="" class="movement-value">
            <div class="form-group" id="dynamic_form">
              <div class="row justify-content-center" id="field">
                <div class="col-md-5">
                  <label for="partner">Socio</label>
                  <select class="form-control select2-test" name="partner" id="partner" style="width: 100%">
                    <option value="" selected disabled>Selecciona un socio</option>
                    {% for p in partners_list %}
                      <option value="{{ p.pk }}">{{ p }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-3">
                  <label for="value">Valor</label>
                  <input type="text" class="form-control" name="value" id="value" placeholder="Ingresa el Valor">
                </div>
                <div class="col-md-2 pt-4">
                  <a href="#" class="btn btn-danger" id="minus5">Eliminar</a>
                </div>
              </div>
              <a href="#" class="btn btn-primary float-right" id="plus5">Agregar socio</a>
            </div>
            <button type="submit" class="btn btn-submit float-right mt-5 btn-dispersion">Dispersar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_js %}

  <script type="text/javascript">

    $(document).ready(function () {
      $('#table').DataTable({
        responsive: {
          details: true
        },
        dom: 'lBfrtip',
        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
        buttons: [
          'excel', 'print'
        ],
        "order": [[1, "asc"]],
        language: {
          "sProcessing": "Procesando...",
          "sLengthMenu": "Mostrar _MENU_ registros",
          "sZeroRecords": "No se encontraron resultados",
          "sEmptyTable": "Ningún dato disponible en esta tabla",
          "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
          "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
          "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
          "sInfoPostFix": "",
          "sSearch": "Buscar:",
          "sUrl": "",
          "sInfoThousands": ",",
          "sLoadingRecords": "Cargando...",
          "oPaginate": {
            "sFirst": "Primero",
            "sLast": "Último",
            "sNext": "Siguiente",
            "sPrevious": "Anterior"
          },
          "oAria": {
            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
          }
        }
      });

      $('#concept').select2({
        language: "es"
      });
      $('#movement_type').select2({
        language: "es"
      });
      $('#office').select2({
        language: "es"
      });
      $('#partner').select2({
        language: "es"
      });
      $('#unit').select2({
        language: "es"
      });
      $('#dq-select').select2({
        language: "es"
      });
      $('#user').select2({
        language: "es"
      });
      $('#loan').select2({
        language: "es"
      });
      $('#chain').select2({
        language: "es"
      });

      $("#dynamic_form").dynamicForm("#dynamic_form", "#plus5", "#minus5", {
        limit: 15,
        formPrefix: "form",
        normalizeFullForm: true,
      });

      $("#dynamic_form #minus5").on('click', function () {
        var initDynamicId = $(this).closest('#dynamic_form').parent().find("[id^='dynamic_form']").length;
        if (initDynamicId === 2) {
          $(this).closest('#dynamic_form').next().find('#minus5').hide();
        }
        $(this).closest('#dynamic_form').remove();
      });

      var unit_inventory_edit = $("#unit_inventory_edit").dynamicForm("#unit_inventory_edit", "#plus5_edit", "#minus5_edit", {
        limit: 15,
        formPrefix: "form",
        normalizeFullForm: true,
      });

      $("#unit_inventory_edit #minus5_edit").on('click', function () {
        var initDynamicId = $(this).closest('#unit_inventory_edit').parent().find("[id^='unit_inventory_edit']").length;
        if (initDynamicId === 2) {
          $(this).closest('#unit_inventory_edit').next().find('#minus5_edit').hide();
        }
        $(this).closest('#unit_inventory_edit').remove();
      });

      $("#unit_inventory_edit").addClass("d-none")
      $("#unit_select").addClass("d-none")

    });

    $('#concept').on('change', function () {
      relationship = $("option:selected", this).data('relationship')
      switch (relationship) {
        case 'Oficina':
          $('.unit-select').addClass('d-none')
          $('.partner-select').addClass('d-none')
          $('.user-select').addClass('d-none')
          $('.country-select').addClass('d-none')
          $('.loan-select').addClass('d-none')
          $('.chain-select').addClass('d-none')
          $('.office-select').removeClass('d-none')
          break;
        case 'Unidad':
          $('.unit-select').removeClass('d-none')
          $('.partner-select').addClass('d-none')
          $('.user-select').addClass('d-none')
          $('.country-select').addClass('d-none')
          $('.loan-select').addClass('d-none')
          $('.chain-select').addClass('d-none')
          $('.office-select').addClass('d-none')
          break;
        case 'Persona':
          $('.unit-select').addClass('d-none')
          $('.partner-select').addClass('d-none')
          $('.user-select').removeClass('d-none')
          $('.country-select').addClass('d-none')
          $('.loan-select').addClass('d-none')
          $('.chain-select').addClass('d-none')
          $('.office-select').addClass('d-none')
          break;
        case 'País':
          $('.unit-select').addClass('d-none')
          $('.partner-select').addClass('d-none')
          $('.user-select').addClass('d-none')
          $('.country-select').removeClass('d-none')
          $('.loan-select').addClass('d-none')
          $('.chain-select').addClass('d-none')
          $('.office-select').addClass('d-none')
          break;
        case 'Préstamo':
          $('.unit-select').addClass('d-none')
          $('.partner-select').addClass('d-none')
          $('.user-select').addClass('d-none')
          $('.country-select').addClass('d-none')
          $('.loan-select').removeClass('d-none')
          $('.chain-select').addClass('d-none')
          $('.office-select').addClass('d-none')
          break;
        case 'Cadena':
          $('.unit-select').addClass('d-none')
          $('.partner-select').addClass('d-none')
          $('.user-select').addClass('d-none')
          $('.country-select').addClass('d-none')
          $('.loan-select').addClass('d-none')
          $('.chain-select').removeClass('d-none')
          $('.office-select').addClass('d-none')
          break;
        default:
          $('.unit-select').addClass('d-none')
          $('.partner-select').addClass('d-none')
          $('.user-select').addClass('d-none')
          $('.country-select').addClass('d-none')
          $('.loan-select').addClass('d-none')
          $('.chain-select').addClass('d-none')
          $('.office-select').addClass('d-none')
      }
      axios.get(`/api/concepts/${$(this).val()}/`)
        .then(function (response) {
          data = response.data
          if (data['name'] == 'Compra Dólares') {
            $('#usd-buy').removeClass('d-none')
            $('#usd-sell').addClass('d-none')
            $('#regular-value').addClass('d-none')
            $('#dq-select-div').addClass('d-none')
          } else if (data['name'] == 'Venta Dólares') {
            $('#usd-sell').removeClass('d-none')
            $('#usd-buy').addClass('d-none')
            $('#regular-value').addClass('d-none')
            $('#dq-select-div').addClass('d-none')
          } else if (data['name'] == 'Entrega de Efectivo a CD') {
            $('#dq-select-div').removeClass('d-none')
            $('#regular-value').removeClass('d-none')
            $('#usd-sell').addClass('d-none')
            $('#usd-buy').addClass('d-none')
          } else {
            $('#usd-sell').addClass('d-none')
            $('#usd-buy').addClass('d-none')
            $('#regular-value').removeClass('d-none')
            $('#dq-select-div').addClass('d-none')
          }
        })
        .catch(function (error) {
          // handle error
          console.log(error);
        })
    })

    $('#partner').on('change', function () {
      axios.get(`/api/units/${$(this).val()}/list`)
        .then(function (response) {
          data = response.data
          $('#unit').empty()
          $.each(data, function (k, v) {
            $('#unit').append(
              `<option value=${v.id}>${v.name}</option>`
            )
          })
          $('#unit').prepend(
            '<option value="" selected disabled>Selecciona una unidad</option>'
          )
        })
        .catch(function (error) {
          // handle error
          console.log(error);
        })
    })

    $("#add-movement-btn").on("click", function () {
      $('.add-movement')[0].reset();
      $("#method_modal").val("add")
      $("#method_modal").data("id", "")
      $('.modal-title').text("Añadir Movimiento")
      $('.btn-add-movement').text('Agregar')
      $("#unit_inventory_edit").addClass("d-none")
      $("#unit_select").addClass("d-none")
    })
    $("#edit-item").on("click", function () {
      $('.add-movement')[0].reset();
      $("#method_modal").val("edit")
      $("#method_modal").data("id", "")
      $('.modal-title').text("Editar Movimiento")
      $('.btn-add-movement').text('Editar')
      $("#unit_inventory_edit").removeClass("d-none")
      $("#unit_select").removeClass("d-none")
    })

    $('.accept-mv').on('click', function () {
      id = $(this).data('id')
      Swal.fire({
        title: 'Estas Seguro?',
        text: "Seguro quieres aprobar este movimiento?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, Aprobar',
        cancelButtonText: 'Cancelar',
        reverseButtons: true,
        allowOutsideClick: false
      }).then((result) => {
        if (result.value) {
          axios.post('{% url "api:movements:accept_daily_square_movement" %}', {
            movement_id: id,
          })
            .then(function (response) {
              if (response.status === 206) {
                Swal.fire({
                  type: 'warning',
                  title: 'Se debe editar el Movimiento',
                  text: response.data,
                }).then(function () {
                  location.reload()
                })
              } else {
                Swal.fire({
                  title: 'Exitoso!',
                  text: response.data,
                  type: 'success',
                  allowOutsideClick: false
                }).then((result) => {
                  if (result.value) {
                    location.reload()
                  }
                })
              }
            })
            .catch(function (error) {
              Swal.fire({
                title: 'Error!',
                text: error.response,
                type: 'error',
                allowOutsideClick: false
              })
            });
        }
      })
    })

    $('.decline-mv').on('click', function () {
      id = $(this).data('id')
      const {value: text} = Swal.fire({
        title: 'Escribe el motivo del rechazo del movimiento',
        input: 'textarea',
        inputPlaceholder: 'Se rechaza el movimiento porque ...',
        showCancelButton: true,
        inputValidator: (value) => {
          return !value && 'Debes escribir el motivo del rechazo'
        },
        allowOutsideClick: false,
        showCloseButton: true
      }).then((result) => {
        axios.post('{% url "api:movements:denied_daily_square_movement" %}', {
          movement_id: id,
          text: result.value
        })
          .then(function (response) {
            Swal.fire({
              title: 'Exitoso!',
              text: response.data,
              type: 'success',
              allowOutsideClick: false
            }).then((result) => {
              if (result.value) {
                location.reload()
              }
            })
          })
          .catch(function (error) {
            console.log(error);
            console.log(error.response)
          });
      })
    })

    $('.dispersion-mv').on('click', function () {
      id = $(this).data('pk')
      value = $(this).data('value')
      $('.movement-id').val(id)
      $('.movement-value').val(value)
    })

    $('form#dispersion-mv').on('submit', function (event) {
      event.preventDefault();
      $('.btn-dispersion').attr('disabled', true)
      var values = {};
      counter = -3
      $.each($('form#dispersion-mv').serializeArray(), function (i, field) {
        values[field.name] = field.value;
        counter += 1
      });
      values['counter'] = counter
      total = 0
      for (var i = 0; i < counter / 2; i++) {
        total = total + parseInt(values[`form[form][${i}][value]`])
      }
      if (total !== parseInt(values['value'])) {
        Swal.fire({
          type: 'error',
          title: 'Error',
          text: `El valor del movimiento y el de la suma de los movimientos de la dispersión son diferentes ($${total} difiere de $${values['value']})`,
        })
      } else {
        axios.post('{% url "api:movements:dispersion_movement" %}', values)
          .then(function (response) {
            Swal.fire({
              title: 'Exitoso!',
              text: response.data,
              type: 'success',
              allowOutsideClick: false
            })
              .then((result) => {
                if (result.value) {
                  location.reload()
                }
              })
          })
          .catch(function (error) {
            console.log(error);
            console.log(error.response)
          });
      }
    })

    $('.add-movement').on('submit', function (ev) {
      ev.preventDefault()
      $('.btn-add-movement').attr('disabled', true)
      axios.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token }}'
      if ($("#concept option:selected").text() == "Compra de Inventario Unidad de tipo Simple") {
        var elemts = []
        $('.add-movement .dynamic_controller *').filter('.category_edit_control').each(function () {
          id_form = $(this).attr("id")
          id_form = id_form[id_form.length - 1]
          elemts.push(id_form)
        });
        $(this).append('<input type="hidden" name="elemts" value="' + elemts + '" >')
      }
      data_send = $(this).serialize()
      if ($("#method_modal").val() === "add") {
        axios.post('{% url 'api:movements:create_dq_movement' %}', data_send)
          .then(function (response) {
            msg = response.data
            if (response.status === 204) {
              Swal.fire({
                title: 'Oops! Has llegado al tope',
                text: msg + " Deseas pedir autorización para generar este movimiento?",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#60d3b0',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, pedir autorización',
                cancelButtonText: "No, Cancelar",
                allowOutsideClick: false,
              }).then((result) => {
                if (result.value) {
                  const {value: text} = Swal.fire({
                    title: 'Escribe el motivo para pedir la autorización',
                    input: 'textarea',
                    inputPlaceholder: 'Se debe autorizar el movimiento porque ...',
                    showCancelButton: true,
                    inputValidator: (value) => {
                      return !value && 'Debes escribir el motivo para pedir la autorización'
                    },
                    allowOutsideClick: false,
                    showCloseButton: true
                  }).then((result) => {
                    if (result.value) {
                      data_stop = movement.serialize()
                      data_stop += `&observation=${result.value}`
                      axios.post('{% url "api:movements:movement_request_create" %}', data_stop)
                        .then(function (response) {
                          Swal.fire({
                            title: 'Exitoso!',
                            text: response.data,
                            type: 'success',
                            allowOutsideClick: false
                          }).then((result) => {
                            if (result.value) {
                              location.reload()
                            }
                          })
                        })
                        .catch(function (error) {
                          console.log(error);
                          console.log(error.response)
                          $('.btn-add-movement').attr('disabled', false)
                        });
                    }
                  })
                } else {
                  Swal.fire(
                    'Cancelado',
                    'El movimiento se ha cancelado',
                    'info'
                  ).then((result) => {
                    location.reload()
                  })
                }
              })
            } else {
              Swal.fire({
                type: 'success',
                title: 'Exitoso',
                text: msg,
              }).then((result) => {
                if (result.value) {
                  location.reload()
                }
              })
            }
          })
          .catch(function (error) {
            // handle error
            console.log(error)
            Swal.fire({
              title: 'Ha ocurrido un error',
              text: error,
              type: 'error',
              showCancelButton: false,
              confirmButtonColor: '#3085d6',
              confirmButtonText: 'Aceptar'
            }).then((result) => {
              $('.btn-add-movement').attr('disabled', false)
              if (result.value) {
                location.reload()
              }
            })
          })
      }
      if ($("#method_modal").val() === "edit") {
        mvment_id = $("#method_modal").data("id")
        if ($("#concept option:selected").text() == "Compra de Inventario Unidad de tipo Simple") {
          axios.patch(`/api/movements/${$("#concept_id").val()}/dq-request-item-detail/`, data_send)
            .then(function (response) {
              data = response.data
              Swal.fire({
                type: 'success',
                title: 'Exitoso',
                text: data,
              }).then(function () {
                location.reload()
              })
            })
            .catch(function (error) {
              // handle error
              Swal.fire({
                type: 'error',
                title: 'Error',
                text: error,
              }).then(function () {
                location.reload()
              })
            })
        } else {
          axios.patch(`/api/movements/${mvment_id}/dq-detail/`, data_send)
            .then(function (response) {
              msg = response.data
              if (response.status === 204) {
                Swal.fire({
                  title: 'Oops! Has llegado al tope',
                  text: msg + " Deseas pedir autorización para generar este movimiento?",
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#60d3b0',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Si, pedir autorización',
                  cancelButtonText: "No, Cancelar",
                  allowOutsideClick: false,
                }).then((result) => {
                  if (result.value) {
                    const {value: text} = Swal.fire({
                      title: 'Escribe el motivo para pedir la autorización',
                      input: 'textarea',
                      inputPlaceholder: 'Se debe autorizar el movimiento porque ...',
                      showCancelButton: true,
                      inputValidator: (value) => {
                        return !value && 'Debes escribir el motivo para pedir la autorización'
                      },
                      allowOutsideClick: false,
                      showCloseButton: true
                    }).then((result) => {
                      if (result.value) {
                        data_stop = movement.serialize()
                        data_stop += `&observation=${result.value}`
                        axios.post('{% url "api:movements:movement_request_create" %}', data_stop)
                          .then(function (response) {
                            Swal.fire({
                              title: 'Exitoso!',
                              text: response.data,
                              type: 'success',
                              allowOutsideClick: false
                            }).then((result) => {
                              if (result.value) {
                                location.reload()
                              }
                            })
                          })
                          .catch(function (error) {
                            console.log(error);
                            console.log(error.response)
                          });
                      }
                    })
                  } else {
                    Swal.fire(
                      'Cancelado',
                      'El movimiento se ha cancelado',
                      'info'
                    ).then((result) => {
                      location.reload()
                    })
                  }
                })
              } else {
                Swal.fire({
                  type: 'success',
                  title: 'Exitoso',
                  text: msg,
                }).then((result) => {
                  if (result.value) {
                    location.reload()
                  }
                })
              }
            })
            .catch(function (error) {
              // handle error
              console.log(error)
              Swal.fire({
                title: 'Ha ocurrido un error',
                text: error,
                type: 'error',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Aceptar'
              }).then((result) => {
                if (result.value) {
                  location.reload()
                }
              })
            })
        }
      }
    })

    // Cerrar caja
    $('.close-box').on('click', function () {
      pk = '{{ box.pk }}'
      const {value: text} = Swal.fire({
        title: 'Cerrar Caja',
        text: "¿Estás seguro de cerrar la caja?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#60d3b0',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, cerrar',
        cancelButtonText: "No, Cancelar",
        allowOutsideClick: false,
      }).then((result) => {
        if (result.value) {
          axios.patch(`/api/boxes/${pk}/close-box`,
            {"is_closed": true}
          )
            .then(function (response) {
              Swal.fire({
                title: 'Exitoso!',
                text: "La caja se ha cerrado exitosamente",
                type: 'success',
                allowOutsideClick: false
              }).then((result) => {
                if (result.value) {
                  location.reload()
                }
              })
            })
            .catch(function (error) {
              console.log(error);
              console.log(error.response)
            });
        }
      })
    })

    var fill_brands = function (cat_id, index_pk, brand_pk) {
      axios.get(`/api/inventory/${cat_id}/brand`)
        .then(function (response) {
          data_brand = response.data
          $(`#edit_inventory_brand${index_pk}`).empty()
          $.each(data_brand, function (k, v) {
            $(`#edit_inventory_brand${index_pk}`).append(
              `<option value=${v.id}>${v.name}</option>`
            )
          })
          $(`#edit_inventory_brand${index_pk} option`).prop("selected", false);
          $(`#edit_inventory_brand${index_pk} option[value=${brand_pk}]`).prop("selected", true);
          $(`#edit_inventory_brand${index_pk}`).trigger("change")
        })
        .catch(function (error) {
          console.log(error);
        })
    }

    //Edit movement
    $('.edit-item').on('click', function () {
      var mov_pk = $(this).data("id")
      $("#method_modal").val("edit")
      $("#method_modal").data("id", mov_pk)
      $('.modal-title').text("Editar Movimiento")
      $('.btn-add-movement').text('Guardar')
      $("#concept_id").val(mov_pk)
      //get movement data
      axios.get(`/api/movements/${mov_pk}/dq-detail/`)
        .then(function (response) {
          data = response.data
          $("#concept option").prop("selected", false);
          $("#concept option[value='" + data.concept + "']").prop("selected", true);
          $("#concept").trigger("change")
          $("#date").val(data.date)
          $("#movement_type").prop("selected", false);
          $("#movement_type option[value='" + data.movement_type + "']").prop("selected", true);
          $("#movement_type").trigger("change")
          $("#value").val(data.value)
          $("#detail").val(data.detail)
          if (data.unit) {
            $("#unit option").prop("selected", false);
            $("#unit option[value='" + data.unit + "']").prop("selected", true);
            $("#unit").trigger("change")
          } else if (data.office) {
            $("#office option").prop("selected", false);
            $("#office option[value='" + data.office + "']").prop("selected", true);
            $("#office").trigger("change")
          }
          if ($("#concept option:selected").text() == "Compra de Inventario Unidad de tipo Simple") {
            axios.get(`/api/movements/${mov_pk}/dq-request-item-detail/`)
              .then(function (response) {
                data = response.data
                var index_pk = 0
                items_lenght = data.length
                if (items_lenght != 0) {
                  $(data).each(function () {
                    item = $(this)[0]
                    if (item.name != null && item.brand != null && item.price != null) {
                      if (item.is_deleted == true) {
                        items_lenght = items_lenght - 1;
                      } else {
                        $(`#edit_inventory_name${index_pk}`).val(item.name)
                        $(`#edit_inventory_price${index_pk}`).val(item.price)

                        $(`#edit_inventory_category${index_pk} option`).prop("selected", false);
                        $(`#edit_inventory_category${index_pk} option[value=${item.brand.category.id}]`).prop("selected", true);
                        $(`#edit_inventory_category${index_pk}`).trigger("change")

                        fill_brands(item.brand.category.id, index_pk, item.brand.id)

                        if (items_lenght != (index_pk + 1)) {
                          $("#plus5_edit").trigger("click")
                        }
                        index_pk = index_pk + 1;
                      }
                    }
                  })
                }
              })
              .catch(function (error) {
                // handle error
                console.log(error);
              })
          }
        })
        .catch(function (error) {
          // handle error
          console.log(error);
        })
    })

    $("#concept").on("change", function () {
      if ($("#concept option:selected").text() == "Compra de Inventario Unidad de tipo Simple") {
        $(".dynamic_controller").removeClass("d-none")
        $("#unit_select").removeClass("d-none")
        $("#plus5").on("click", function () {
          if ($("#method_modal").val() === "add") {
            if ($('#dynamic_form').parent().find("[id^='dynamic_form']").length >= 1) {
              $('.add-movement .dynamic_controller *').filter(':input').each(function () {
                $(this).prop("required", true)
              })
            }
          }
        })
        if ($("#method_modal").val() === "edit") {
          $('.add-movement .dynamic_controller *').filter(':input').each(function () {
            $(this).prop("required", true)
          })
          $(".is_replacement_control").prop("required", false)
        }
      } else {
        $(".dynamic_controller").addClass("d-none")
        $("#unit_select").addClass("d-none")
        $("#unity").val("")
        $("#unity").prop("required", false)
        $('.add-movement .dynamic_controller *').filter(':input').each(function () {
          $(this).prop("required", false)
          $(this).val("")
        })
        $(".add-movement .dynamic_controller").find("#minus5").each(function () {
          if ($(this).css("display") != "none") {
            $(this).trigger("click")
          }
        })
      }
    })

    $(document).on('change', '.category_edit_control', function () {
      if ($(this).hasClass("category_edit_control")) {
        var select_category_id = $(this).attr('id');
        axios.get(`/api/inventory/${$(this).val()}/brand`)
          .then(function (response) {
            data = response.data
            $("#edit_inventory_brand" + select_category_id[select_category_id.length - 1]).empty()
            $.each(data, function (k, v) {
              $("#edit_inventory_brand" + select_category_id[select_category_id.length - 1]).append(
                `<option value=${v.id}>${v.name}</option>`
              )
            })
            $("#edit_inventory_brand" + select_category_id[select_category_id.length - 1]).prepend(
              '<option value="" selected disabled>Selecciona una marca</option>'
            )
          })
          .catch(function (error) {
            // handle error
            console.log(error);
          })
      }
    });
    $('#addMovement').on('hidden.bs.modal', function (e) {
      location.reload()
    })
    $('.delete-item').on('click', function () {
      mov_pk = $(this).data('id')
      Swal.fire({
        title: 'Estas segura?',
        text: "Vas a eliminar este movimiento y los movimientos asociados (si los tiene). Esta acción no se puede revertir",
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Si, borrar',
        cancelButtonText: 'No, cancelar!',
        confirmButtonColor: '#60d3b0',
        cancelButtonColor: '#d33',
        reverseButtons: true,
        allowOutsideClick: false
      }).then((result) => {
        if (result.value) {
          axios.delete(`/api/movements/${mov_pk}/dq-detail/`)
            .then(function (response) {
              data = response.data
              console.log(data)
              Swal.fire(
                'Eliminado',
                'El movimiento se ha eliminado correctamente',
                'success'
              ).then((result) => {
                location.reload()
              })
            })
            .catch(function (error) {
              // handle error
              console.log(error);
            })
        } else if (
          // Read more about handling dismissals
          result.dismiss === Swal.DismissReason.cancel
        ) {
          Swal.fire(
            'Cancelado',
            'Se ha cancelado. El movimiento no fue eliminado',
            'error'
          )
        }
      })
    })
    {% if request.user.is_superuser or request.user.related_employee.get.is_admin_charge %}
      $('.datetimepicker_dailysquare').datetimepicker({
        format: 'Y-m-d',
        minDate: '-1970/01/03',
        maxDate: '0',
        timepicker: false,
      });
    {% else %}
      $('.datetimepicker_dailysquare').datetimepicker({
        format: 'Y-m-d',
        minDate: '-1970/01/01',
        maxDate: '0',
        timepicker: false,
      });
    {% endif %}

  </script>
{% endblock %}
