{% extends "base.html" %}

{% load static humanize %}
{% load office_dailysquare_box %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/datatable/dataTables.bootstrap.min.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
{% endblock %}

{% block navbar %}
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="
        {% if request.user.is_superuser or is_admin_charge %}
          {% url 'webclient:office' office.slug %}
        {% elif request.user.session_employee %}
          {% url 'webclient:employee_list' office.slug %}
        {% else %}
          {% url 'webclient:partners_list' office.slug %}
        {% endif %}
        ">
        <i class="menu-icon fa fa-laptop"></i>
        {{ office }}
      </a>
    </li>
    {% if perms.office %}
      <li class="menu-title">DETALLE OFICINA</li><!-- /.menu-title -->
      {% if perms.office.change_office %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:office' office.slug %}">
            <img src="{% static 'icons/ICONOS-01.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Caja oficina
          </a>
        </li>
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:box_usd' office.slug %}">
            <img src="{% static 'icons/ICONOS-01.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Caja oficina Dólares
          </a>
        </li>
      {% endif %}
      {% if perms.boxes.change_boxdonjuan %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:box_don_juan' office.slug %}">
            <img src="{% static 'icons/ICONOS-02.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Caja Don Juan
          </a>
        </li>
      {% endif %}
      {% if perms.office.change_officeitems %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:office_items_list' office.slug %}">
            <img src="{% static 'icons/ICONOS-03.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Inventario Oficina
          </a>
        </li>
      {% endif %}
      {% if perms.office.change_supervisorcalendar %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:groups' office.slug %}">
            <img src="{% static 'icons/ICONOS-05.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Grupos
          </a>
        </li>
      {% endif %}
      {% if perms.office.change_notifications %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:notifications' office.slug %}">
            <i class="fas fa-bell mr-4 ml-1"></i>
            Notificaciones
          </a>
        </li>
      {% endif %}
    {% endif %}
    {% if perms.users.change_partner %}
      <li class="menu-title">Socios</li><!-- /.menu-title -->
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:partners_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-04.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Lista de socios
        </a>
      </li>
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:investment_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-04.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Lista de inversiones
        </a>
      </li>
      {% if request.user.is_superuser or is_admin_charge %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:closeout_boxes' office.slug %}">
            <img src="{% static 'icons/ICONOS-04.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Cajas Liquidadas
          </a>
        </li>
      {% endif %}
    {% endif %}
    {% if perms.users.change_employee %}
      <li class="menu-title">Empleados</li><!-- /.menu-title -->
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:employee_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-05.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Lista de empleados
        </a>
      </li>
    {% endif %}

    <li class="menu-title">Secretaria</li><!-- /.menu-title -->
    {% if perms.units.change_unit %}
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:units_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-06.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Árbol de unidades
        </a>
      </li>
    {% endif %}
    {% if perms.boxes.change_boxdailysquare %}
      <li class="menu-item-has-children dropdown active">
        <a href="{% url 'webclient:daily_square_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-07.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Cuadres diarios
        </a>
      </li>
    {% endif %}
    {% if perms.office.change_officecommitments %}
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:provisioning' office.slug %}">
          <img src="{% static 'icons/ICONOS-08.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Aprovisionamiento
        </a>
      </li>
    {% endif %}
    {% if perms.loans.change_loan %}
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:loan_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-09.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Préstamos
        </a>
      </li>
    {% endif %}
    {% if perms.chains.change_chain %}
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:chain_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-10.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Cadenas
        </a>
      </li>
    {% endif %}
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <table id="table" class="table table-striped table-bordered"
                       cellspacing="0" style="width:100%">
                  <h3 class="mb-4">Lista de Cuadres Diarios</h3>
                  <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Código</th>
                    <th>Email</th>
                    <th>Saldo</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  {% if partner %}
                    <tr>
                      <td>{{ partner.user.first_name }}</td>
                      <td>{{ partner.user.last_name }}</td>
                      <td>{{ partner.code|default:"Sin Codigo" }}</td>
                      <td>{{ partner.user.email }}</td>
                      <td>$ {% get_dq_box_balance office partner.user %}</td>
                      <td>
                        <ul class="ul-buttons">
                          {% get_dq_box_id office partner.user as box_id %}
                          {% get_dq_box_is_close office partner.user as box_is_close %}
                          {% if perms.movement.add_movementdailysquare and not box_is_close %}
                            <li>
                              <button type="button" class="btn add-movement-button" data-id="{{ partner.user.pk }}"
                                      data-toggle="modal" data-target="#addMovement"><i class="fas fa-plus mr-2"></i>Añadir
                                Movimiento
                              </button>
                            </li>
                          {% else %}
                            la caja esta cerrada
                          {% endif %}
                          {% if perms.boxes.change_boxdailysquare %}
                            <li><a href="{% url 'webclient:daily_square_box' office.slug partner.user.pk %}"
                                   class="btn see-box"><i
                              class="fas fa-eye mr-2"></i>Ver cuadre diario</a></li>
                          {% endif %}
                        </ul>
                      </td>
                    </tr>
                  {% elif request_user.is_superuser or is_secretary %}
                    {% for d in dailys %}
                      <tr>
                        <td>{{ d.first_name }}</td>
                        <td>{{ d.last_name }}</td>
                        <td>{{ d.pk|default:"Sin Codigo" }}</td>
                        <td>{{ d.email }}</td>
                        <td>$ {% get_dq_box_balance office d %}</td>
                        <td>
                          <ul class="ul-buttons-partner">
                            {% get_dq_box_id office d as box_id %}
                            {% get_dq_box_is_close office d as box_is_close %}
                            <li>
                              <button type="button" class="btn add-movement-button" data-id="{{ d.pk }}"
                                      data-toggle="modal"
                                      data-target="#addMovement"><i class="fas fa-plus mr-2"></i>Añadir Movimiento
                              </button>
                            </li>
                            {% if not box_is_close %}
                              <li>
                                <button class="close-box-dq" data-id="{{ box_id }}">
                                  <i class="fas fa-power-off mr-2"></i>Cerrar Caja
                                </button>
                              </li>
                            {% else %}
                              <li><a href="#" class="open-box-dq" data-id="{{ box_id }}">
                                <i class="fas fa-power-off mr-2"></i>Abrir Caja</a></li>
                            {% endif %}
                            {% if perms.boxes.change_boxdailysquare %}
                              <li><a href="{% url 'webclient:daily_square_box' office.slug d.pk %}" class="btn see-box"><i
                                class="fas fa-eye mr-2"></i>Ver cuadre diario</a></li>
                              <li><a href="{% url 'webclient:daily_square_venda' office.slug d.pk %}" class="btn see-box"><i
                                class="fas fa-calendar-check mr-2"></i>Venda+</a></li>
                            {% endif %}
                          </ul>
                        </td>
                      </tr>
                    {% endfor %}
                  {% else %}
                    {% for d in dailys %}
                      <tr>
                        <td>{{ d.first_name }}</td>
                        <td>{{ d.last_name }}</td>
                        <td>{{ d.pk|default:"Sin Codigo" }}</td>
                        <td>{{ d.email }}</td>
                        <td>$ {% get_dq_box_balance office d %}</td>
                        <td>
                          <ul class="ul-buttons">
                            {% get_dq_box_id office d as box_id %}
                            {% get_dq_box_is_close office d as box_is_close %}
                            {% if perms.movement.add_movementdailysquare and not box_is_close and d == request.user %}
                              <li>
                                <button type="button" class="btn add-movement-button" data-id="{{ d.pk }}"
                                        data-toggle="modal"
                                        data-target="#addMovement">
                                  <i class="fas fa-plus mr-2"></i>
                                  Añadir Movimiento
                                </button>
                              </li>
                              <li>
                                <a href="#" class="btn close-box-dq" data-id="{{ box_id }}">
                                  <i class="fas fa-power-off mr-2"></i>Cerrar Caja
                                </a>
                              </li>
                            {% else %}
                              <li>
                                {% if not box_is_close %}
                                  <span style="color: #7dd1af;">Caja abierta</span>
                                {% else %}
                                  <span style="color: #f16975;">Caja cerrada</span>
                                {% endif %}
                              </li>
                            {% endif %}
                            {% if perms.boxes.change_boxdailysquare %}
                              <li>
                                <a href="{% url 'webclient:daily_square_box' office.slug d.pk %}" class="btn see-box">
                                  <i class="fas fa-eye mr-2"></i>Ver cuadre diario
                                </a>
                              </li>
                              <li>
                                <a href="{% url 'webclient:daily_square_venda' office.slug d.pk %}" class="btn see-box">
                                  <i class="fas fa-calendar-check mr-2"></i>Venda+
                                </a>
                              </li>
                            {% endif %}
                          </ul>
                        </td>
                      </tr>
                    {% endfor %}
                  {% endif %}
                  </tbody>
                </table>
                {% if request.user.is_superuser or is_secretary %}
                  <h2 class="float-right">Saldo total de Cuadres diarios: ${{ dq_total|default:0|intcomma }}</h2>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Modal add movement -->
  <div class="modal fade" id="addMovement" role="dialog" aria-labelledby="addMovementTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLongTitle">Añadir movimiento</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" class="add-movement">
            {% csrf_token %}
            <input type="hidden" name="office_slug" value="{{ office.slug }}">
            <input type="hidden" name="office" value="{{ office.pk }}">
            <input type="hidden" name="user_id" id="user_id" value="">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="concept">Concepto </label>
                <select class="form-control" id="concept" name="concept" style="width: 100%; height: 20px;" required>
                  <option disabled selected value="">Selecciona un concepto</option>
                  {% for concept in concepts %}
                    <option value="{{ concept.pk }}"
                            data-relationship="{{ concept.relationship }}">{{ concept }}</option>
                  {% endfor %}
                </select>

              </div>
              <div class="form-group col-md-6">
                <label for="date">Fecha</label>
                <input type="text" class="form-control datetimepicker_dailysquare" id="date" name="date"
                       placeholder="yyyy-mm-dd"
                       style="width: 100%;" required autocomplete="off" onkeydown="return false">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="movement_type">Entra / Sale</label>
                <select class="form-control" id="movement_type" name="movement_type" style="width: 100%; height: 20px;"
                        required>
                  <option selected disabled value="">Selecciona el tipo de movimiento</option>
                  <option value="IN">Entra</option>
                  <option value="OUT">Sale</option>
                </select>
              </div>
              <div class="form-group col-md-6" id="regular-value">
                <label for="value">Valor</label>
                <input type="number" class="form-control" id="value" name="value" placeholder="Valor del movimiento"
                >
              </div>
            </div>
            <div class="form-row d-none" id="usd-buy">
              <div class="form-group col-md-6">
                <label for="buy_usd_value">Valor en USD</label>
                <input type="number" class="form-control" id="buy_usd_value" name="buy_usd_value"
                       placeholder="Valor compra en USD">
              </div>
              <div class="form-group col-md-6">
                <label for="buy_value">Valor en ${{ box.office.country.abbr }}</label>
                <input type="number" class="form-control" id="buy_value" name="buy_value" placeholder="Valor compra">
              </div>
            </div>
            <div class="form-row d-none" id="usd-sell">
              <div class="form-group col-md-6">
                <label for="sell_usd_value">Valor en USD</label>
                <input type="number" class="form-control" id="sell_usd_value" name="sell_usd_value"
                       placeholder="Valor venta en usd">
              </div>
              <div class="form-group col-md-6">
                <label for="sell_value">Valor en ${{ box.office.country.abbr }}</label>
                <input type="number" class="form-control" id="sell_value" name="sell_value"
                       placeholder="Valor venta en ${{ box.office.country.abbr }}">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 office-select d-none">
                <label for="office">Oficina</label>
                <select class="form-control" id="office" name="office" style="width: 100%; height: 20px;">
                  <option value="" selected disabled>Selecciona una oficina</option>
                  {% for o in offices %}
                    <option value="{{ o.pk }}">{{ o }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group col-md-6 partner-select d-none">
                <label for="partner">Socio</label>
                <select class="form-control" id="partner" name="partner" style="width: 100%; height: 20px;">
                  <option value="" selected disabled>Selecciona un socio</option>
                  {% for p in partners %}
                    <option value="{{ p.pk }}">{{ p }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group col-md-6 dq-select d-none" id="dq-select-">
                <label for="dq-select">Cuadre Diario</label>
                <select class="form-control" id="dq-select" name="dq" style="width: 100%; height: 20px;">
                  <option value="" selected disabled>Selecciona un cuadre diario</option>
                  {% for d in dq_list %}
                    <option value="{{ d.pk }}">{{ d }} (Codigo: {{ d.pk }})</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group col-md-6 unit-select d-none">
                <label for="unit">Unidad</label>
                <select class="form-control" id="unit" name="unit" style="width: 100%; height: 20px;">
                  <option value="" selected disabled>Selecciona la unidad</option>
                  {% for unit in units %}
                    <option value="{{ unit.pk }}">{{ unit.name }} (Cobrador: {{ unit.collector.get_full_name }})
                    </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 user-select d-none">
                <label for="user">Persona</label>
                <select class="form-control" id="user" name="user" style="width: 100%; height: 20px;">
                  <option value="" selected disabled>Selecciona un usuario</option>
                  {% for user in users %}
                    <option value="{{ user.pk }}">{{ user.get_full_name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group col-md-6 country-select d-none">
                <label for="country">País</label>
                <select class="form-control" id="country" name="country" style="width: 100%; height: 20px;">

                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 lender-user-select d-none">
                <label for="lender-user">Deudor</label>
                <select class="form-control" id="lender-user" name="lender-user" style="width: 100%; height: 20px;">
                  <option value="" selected disabled>Selecciona un usuario deudor</option>
                  {% for user in users %}
                    <option value="{{ user.pk }}">{{ user.get_full_name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 loan-select d-none">
                <label for="loan">Préstamo</label>
                <select class="form-control" id="loan" name="loan" style="width: 100%; height: 20px;">

                </select>
              </div>
              <div class="form-group col-md-6 chain-select d-none">
                <label for="chain">Cadena</label>
                <select class="form-control" id="chain" name="chain" style="width: 100%; height: 20px;">

                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="detail">Detalle</label>
              <textarea class="form-control" id="detail" rows="3" name="detail" placeholder="Ingresa el detalle"
                        required></textarea>
            </div>
            <!-- Appears if concept equals to Compra de Inventario Unidades-->
            <div class="scape d-none" id="unit_select">
              <hr>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="unity">Unidad</label>
                  <select class="form-control" id="unity" name="unit" style="width: 100%;">
                    <option disabled value="" selected>Selecciona una unidad</option>
                    {% for unit in units %}
                      <option value="{{ unit.pk }}">{{ unit.name }} (Cobrador: {{ unit.collector.get_full_name }})
                      </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <!--Replication-->
            <div class="dynamic_controller d-none" id="dynamic_form">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inventory_name">Nombre</label>
                  <input type="text" class="form-control" id="inventory_name" name="name" placeholder="Nombre del item"
                  >
                </div>
                <div class="form-group col-md-6">
                  <label for="category">Categoría </label>
                  <div>
                    <select class="form-control category_control" id="category" name="category" style="width: 100%;"
                    >
                      <option disabled value="" selected>Selecciona una categoría</option>
                      {% for category in categories %}
                        <option value="{{ category.pk }}">{{ category }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="brand">Marca </label>
                  <select class="form-control brand_control" id="brand" name="brand" style="width: 100%;">
                    <option disabled value="" selected>Selecciona una categoría</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="price">Precio</label>
                  <input type="number" class="form-control" id="price" name="price" placeholder="Precio del item"
                  >
                </div>
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input is_replacement_control" id="is_replacement"
                       name="is_replacement">
                <label class="form-check-label" for="is_replacement">Repuesto</label>
              </div>
              <div class="form-row justify-content-center">
                <div class="col-md-3 pt-1 text-center">
                  <a href="#" class="btn btn-danger" id="minus5">Eliminar</a>
                </div>
                <div class="col-md-3 pt-1 text-center">
                  <a href="#" class="btn btn-primary" id="plus5">Agregar Item</a>
                </div>
              </div>
            </div>
            <!--end Replication-->
            <!-- Appears if concept equals to compra inventario oficina-->
            <div id="inventory_form" class="d-none">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Nombre </label>
                  <input type="text" id="name" name="name_office" class="form-control" placeholder="Nombre del item">
                </div>
                <div class="form-group col-md-6">
                  <label for="category-office">Categoría </label>
                  <select class="form-control" id="category-office" name="category_office" style="width: 100%; height: 20px;">
                    <option disabled value="" selected>Selecciona una categoría</option>
                    {% for category in categories %}
                      <option value="{{ category.pk }}">{{ category }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="brand-office">Marca </label>
                  <select class="form-control" id="brand-office" name="brand_office" style="width: 100%; height: 20px;">
                    <option disabled value="" selected>Selecciona una marca</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="price">Precio</label>
                  <input type="number" class="form-control" id="price" name="price_office" placeholder="Precio del item"
                  >
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="description">Descripción</label>
                  <textarea rows="2" style="resize: none;" class="form-control" id="description_office" name="description"
                            placeholder="Ingresa una descripción"></textarea>
                </div>
              </div>
            </div>

            <!-- Appears if concept is Employee loan-->
            <div class="form-row lender_employee d-none">
              <div class="form-group col-md-12 lender_employee">
                <label for="lender_employee">Selecciona el empleado Deudor</label>
                <select class="form-control" id="lender_employee" name="lender_employee"
                        style="width: 100%; height: 20px;">
                  <option selected disabled value="">Selecciona el socio deudor</option>
                  {% for e in office_employees %}
                    <option value="{{ e.pk }}">{{ e }} - {{ e.charge }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="loan-employee d-none">
              <div class="form-row">
                <div class="form-group col-md-6 box-select">
                  <label for="box_from">Selecciona desde donde sale el préstamo</label>
                  <select class="form-control" id="box_from" name="box_from" style="width: 100%; height: 20px;">
                    <option selected disabled value="">Selecciona desde donde sale el préstamo</option>
                    <option value="partner">Caja Socio</option>
                    <option value="office">Caja oficina</option>
                    <option value="donjuan">Caja Don Juan</option>
                  </select>
                </div>
              </div>
              <div class="form-row d-none partner-select-row">
                <div class="form-group col-md-12">
                  <label for="partner_provider">Selecciona el socio fondeador</label>
                  <select class="form-control" id="partner_provider" style="width: 100%; height: 20px;"
                          name="partner_provider">
                    <option selected disabled value="">Selecciona el socio fondeador</option>
                    {% for p in partners %}
                      <option value="{{ p.pk }}">{{ p }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <hr>
              <div class="loan-fields">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="loan_value">Monto del préstamo ({{ office.country.currency.abbr }})</label>
                    <input class="form-control" type="number" name="value_loan" id="loan_value"
                           placeholder="Ingresa el monto del préstamo">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="value_cop">Monto del préstamo (COP)</label>
                    <input class="form-control" type="number" name="value_cop" id="value_cop" value="0"
                           readonly>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="interest">Porcentaje de interes (%)</label>
                    <input class="form-control" type="number" name="interest" id="interest"
                           placeholder="Ingresa el porcetaje">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="time">Plazo (En meses)</label>
                    <input class="form-control" type="number" name="time" id="time"
                           placeholder="Ingresa el plazo en meses (opcional)">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="exchange">Tasa de cambio</label>
                    <input class="form-control" type="text" name="exchange" id="exchange"
                           value="{{ exchange.exchange_cop }}" data-value="{{ exchange.exchange_cop }}"
                           placeholder="No hay tasa de cambio configurada" readonly>
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-submit">Agregar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_js %}

  <script type="text/javascript">
    //Displays unit_form if concept equals to Compra de Inventario Unidades
    $("#concept").on("change", function () {
      relationship = $("option:selected", this).data('relationship')
      switch (relationship) {
        case 'Oficina':
          $('.unit-select').addClass('d-none')
          $('.partner-select').addClass('d-none')
          $('.user-select').addClass('d-none')
          $('.country-select').addClass('d-none')
          $('.loan-select').addClass('d-none')
          $('.chain-select').addClass('d-none')
          $('.office-select').removeClass('d-none')
          break;
        case 'Unidad':
          $('.unit-select').removeClass('d-none')
          $('.partner-select').addClass('d-none')
          $('.user-select').addClass('d-none')
          $('.country-select').addClass('d-none')
          $('.loan-select').addClass('d-none')
          $('.chain-select').addClass('d-none')
          $('.office-select').addClass('d-none')
          break;
        case 'Persona':
          $('.unit-select').addClass('d-none')
          $('.partner-select').addClass('d-none')
          $('.user-select').removeClass('d-none')
          $('.country-select').addClass('d-none')
          $('.loan-select').addClass('d-none')
          $('.chain-select').addClass('d-none')
          $('.office-select').addClass('d-none')
          break;
        case 'País':
          $('.unit-select').addClass('d-none')
          $('.partner-select').addClass('d-none')
          $('.user-select').addClass('d-none')
          $('.country-select').removeClass('d-none')
          $('.loan-select').addClass('d-none')
          $('.chain-select').addClass('d-none')
          $('.office-select').addClass('d-none')
          break;
        case 'Préstamo':
          $('.unit-select').addClass('d-none')
          $('.partner-select').addClass('d-none')
          $('.user-select').addClass('d-none')
          $('.country-select').addClass('d-none')
          $('.loan-select').removeClass('d-none')
          $('.chain-select').addClass('d-none')
          $('.office-select').addClass('d-none')
          break;
        case 'Cadena':
          $('.unit-select').addClass('d-none')
          $('.partner-select').addClass('d-none')
          $('.user-select').addClass('d-none')
          $('.country-select').addClass('d-none')
          $('.loan-select').addClass('d-none')
          $('.chain-select').removeClass('d-none')
          $('.office-select').addClass('d-none')
          break;
        default:
          $('.unit-select').addClass('d-none')
          $('.partner-select').addClass('d-none')
          $('.user-select').addClass('d-none')
          $('.country-select').addClass('d-none')
          $('.loan-select').addClass('d-none')
          $('.chain-select').addClass('d-none')
          $('.office-select').addClass('d-none')
      }
      axios.get(`/api/concepts/${$(this).val()}/`)
        .then(function (response) {
          data = response.data
          switch (data['name']) {
            case 'Compra Dólares':
              $('#usd-buy').removeClass('d-none')
              $('#usd-sell').addClass('d-none')
              $('#regular-value').addClass('d-none')
              $('#dq-select-').addClass('d-none')
              $('.lender-user-select').addClass('d-none')
              $('#inventory_form').addClass(('d-none'))
              break;
            case 'Venta Dólares':
              $('#usd-sell').removeClass('d-none')
              $('#usd-buy').addClass('d-none')
              $('#regular-value').addClass('d-none')
              $('#dq-select-').addClass('d-none')
              $('.lender-user-select').addClass('d-none')
              $('#inventory_form').addClass(('d-none'))
              break;
            case 'Traslado de Efectivo entre Cuadres Diarios':
              $('#dq-select-').removeClass('d-none')
              $('#regular-value').removeClass('d-none')
              $('#usd-sell').addClass('d-none')
              $('#usd-buy').addClass('d-none')
              $('.lender-user-select').addClass('d-none')
              $('#inventory_form').addClass(('d-none'))
              break;
            case 'Préstamo empleado':
              {% if request.user.is_superuser or is_secretary %}
                $('.loan-employee').removeClass("d-none")
                $('.lender_employee').removeClass("d-none")
                $('#regular-value').addClass('d-none')
                $(".dynamic_controller").addClass("d-none")
                $("#unit_select").addClass("d-none")
                $('#dq-select-').addClass('d-none')
                $('#regular-value').addClass('d-none')
                $('#usd-sell').addClass('d-none')
                $('#usd-buy').addClass('d-none')
                $('.lender-user-select').addClass('d-none')
                $('#inventory_form').addClass(('d-none'))
            {% else %}
                $('.loan-employee').addClass("d-none")
                $('.lender_employee').removeClass("d-none")
                $('#regular-value').removeClass('d-none')
                $(".dynamic_controller").addClass("d-none")
                $("#unit_select").addClass("d-none")
                $('#dq-select-').addClass('d-none')
                $('#usd-sell').addClass('d-none')
                $('#usd-buy').addClass('d-none')
                $('.lender-user-select').addClass('d-none')
                $('#inventory_form').addClass(('d-none'))
            {% endif %}
              break;
            case 'Abono Préstamo Empleado':
              $('.lender-user-select').removeClass('d-none')
              $('.lender_employee').addClass("d-none")
              $('.loan-employee').addClass("d-none")
              $('#regular-value').addClass('d-none')
              $(".dynamic_controller").addClass("d-none")
              $("#unit_select").addClass("d-none")
              $('#dq-select-').addClass('d-none')
              $('#regular-value').removeClass('d-none')
              $('#usd-sell').addClass('d-none')
              $('#usd-buy').addClass('d-none')
              $('#inventory_form').addClass(('d-none'))
              break;
            case 'Compra Inventario Oficina':
              $('#inventory_form').removeClass(('d-none'))
              $('.lender-user-select').addClass('d-none')
              $('.lender_employee').addClass("d-none")
              $('.loan-employee').addClass("d-none")
              $('#regular-value').addClass('d-none')
              $(".dynamic_controller").addClass("d-none")
              $("#unit_select").addClass("d-none")
              $('#dq-select-').addClass('d-none')
              $('#regular-value').removeClass('d-none')
              $('#usd-sell').addClass('d-none')
              $('#usd-buy').addClass('d-none')
              $('.office-select').addClass('d-none')
              break;
            case 'Compra de Inventario Unidad':
              $('.loan-employee').addClass('d-none')
              $('.lender_employee').addClass("d-none")
              $('.lender-user-select').addClass('d-none')
              $('#regular-value').removeClass('d-none')
              $(".dynamic_controller").removeClass("d-none")
              $("#unit_select").removeClass("d-none")
              $('#inventory_form').addClass(('d-none'))
              $("#plus5").on("click", function () {
                if ($("#method_modal").val() === "add") {
                  if ($('#dynamic_form').parent().find("[id^='dynamic_form']").length >= 1) {
                    $('.add-movement .dynamic_controller *').filter(':input').each(function () {
                      $(this).prop("required", true)
                    })
                  }
                }
              })
              break;
            default:
              $('#usd-sell').addClass('d-none')
              $('.lender-user-select').addClass('d-none')
              $('.lender_employee').addClass("d-none")
              $('#usd-buy').addClass('d-none')
              $('#regular-value').removeClass('d-none')
              $('#dq-select-').addClass('d-none')
              $(".dynamic_controller").addClass("d-none")
              $("#unit_select").addClass("d-none")
              $('.loan-employee').addClass('d-none')
              $("#unity").val("")
              $("#unity").prop("required", false)
              $('#inventory_form').addClass(('d-none'))

              // deactivate required prop and clean inputs beacause these are going to be hidden
              $('.add-movement .dynamic_controller *').filter(':input').each(function () {
                $(this).prop("required", false)
                $(this).val("")
              })
              /* and jquery press "eliminar" button beacause we don't want to have a lot of dynamic form hidden, just one.
              *  in this way we grant if user don't want to create unit items we send one empty form
              */
              $(".add-movement .dynamic_controller").find("#minus5").each(function () {
                if ($(this).css("display") != "none") {
                  $(this).trigger("click")
                }
              })
              break;
          }
        })
        .catch(function (error) {
          // handle error
          console.log(error);
        })
    })

    $('#loan_value').keyup(function () {
      value = parseInt($(this).val())
      exchange = parseInt($('#exchange').data('value'))
      $('#value_cop').val(value * exchange)
    })

    $('#box_from').on('change', function () {
      if ($(this).val() === 'partner') {
        $('.partner-select-row').removeClass('d-none')
      } else {
        $('.partner-select-row').addClass('d-none')
      }
    })

    $("#plus5").on("click", function () {
      if ($('#dynamic_form').parent().find("[id^='dynamic_form']").length >= 1) {
        $('.add-movement .dynamic_controller *').filter(':input').each(function () {
          $(this).prop("required", true)
        })
      }
      $(".is_replacement_control").prop("required", false)
    })

    $(document).on('change', '.category_control', function () {
      //fill brands depending $(this) select
      if ($(this).hasClass("category_control")) {
        var select_category_id = $(this).attr('id');
        axios.get(`/api/inventory/${$(this).val()}/brand`)
          .then(function (response) {
            data = response.data
            $("#brand" + select_category_id[select_category_id.length - 1]).empty()
            $.each(data, function (k, v) {
              $("#brand" + select_category_id[select_category_id.length - 1]).append(
                `<option value=${v.id}>${v.name}</option>`
              )
            })
            $("#brand" + select_category_id[select_category_id.length - 1]).prepend(
              '<option value="" selected disabled>Selecciona una marca</option>'
            )
          })
          .catch(function (error) {
            // handle error
            console.log(error);
          })
      }
    });

    $('#category-office').on('change', function () {
      axios.get(`/api/inventory/${$(this).val()}/brand`)
        .then(function (response) {
          data = response.data

          $('#brand-office').empty()
          $.each(data, function (k, v) {
            $('#brand-office').append(
              `<option value=${v.id}>${v.name}</option>`
            )
          })
          $('#brand-office').prepend(
            '<option value="" selected disabled>Selecciona una marca</option>'
          )
        })
        .catch(function (error) {
          // handle error
          console.log(error);
        })
    })

    $(document).ready(function () {
      $('#table').DataTable({
        "scrollX": true,
        dom: 'lBfrtip',
        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
        buttons: [
          'excel', 'print'
        ],
        "order": [[1, "asc"]],
        language: {
          "sProcessing": "Procesando...",
          "sLengthMenu": "Mostrar _MENU_ registros",
          "sZeroRecords": "No se encontraron resultados",
          "sEmptyTable": "Ningún dato disponible en esta tabla",
          "sInfo": "Mostrando  _START_ al _END_ de  _TOTAL_ registros",
          "sInfoEmpty": "Mostrando del 0 al 0 de 0 registros",
          "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
          "sInfoPostFix": "",
          "sSearch": "Buscar:",
          "sUrl": "",
          "sInfoThousands": ",",
          "sLoadingRecords": "Cargando...",
          "oPaginate": {
            "sFirst": "Primero",
            "sLast": "Último",
            "sNext": "Siguiente",
            "sPrevious": "Anterior"
          },
          "oAria": {
            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
          }
        }
      });

      $('#table tbody .dtr-data').addClass('TESTTT')
      var dynamic_form = $("#dynamic_form").dynamicForm("#dynamic_form", "#plus5", "#minus5", {
        limit: 15,
        formPrefix: "form",
        normalizeFullForm: true,
      });

      $("#dynamic_form #minus5").on('click', function () {
        var initDynamicId = $(this).closest('#dynamic_form').parent().find("[id^='dynamic_form']").length;
        if (initDynamicId === 2) {
          $(this).closest('#dynamic_form').next().find('#minus5').hide();
        }
        $(this).closest('#dynamic_form').remove();
      });

      $('.add-movement .scape select').each(function () {
        $(this).select2({
          language: "es"
        });
      });

      $('#concept').select2({
        language: "es"
      });
      $('#movement_type').select2({
        language: "es"
      });
      $('#office').select2({
        language: "es"
      });
      $('#partner').select2({
        language: "es"
      });
      $('#unit').select2({
        language: "es"
      });
      $('#dq-select').select2({
        language: "es"
      });
      $('#user').select2({
        language: "es"
      });
      $('#loan').select2({
        language: "es"
      });
      $('#chain').select2({
        language: "es"
      });
      $('#box_from').select2({
        language: "es"
      });
      $('#partner_provider').select2({
        language: "es"
      });
      $('#lender_employee').select2({
        language: "es"
      });
      $('#lender-user').select2({
        language: "es"
      });
      $('#category-office').select2({
        language: "es"
      });
      $('#brand-office').select2({
        language: "es"
      });
    });

    $('#table tbody').on('click', '.add-movement-button', function () {
      $('#user_id').val($(this).data("id"))
    });

    $('#partner').on('change', function () {
      axios.get(`/api/units/${$(this).val()}/list`)
        .then(function (response) {
          data = response.data
          $('#unit').empty()
          $.each(data, function (k, v) {
            $('#unit').append(
              `<option value=${v.id}>${v.name}</option>`
            )
          })
          $('#unit').prepend(
            '<option value="" selected disabled>Selecciona una unidad</option>'
          )
        })
        .catch(function (error) {
          // handle error
          console.log(error);
        })
    })

    $('.add-movement').on('submit', function (ev) {
      ev.preventDefault()
      $('.btn-submit').attr('disabled', true)
      axios.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token }}'
      if ($("#concept option:selected").text() == "Compra de Inventario Unidad de tipo Simple") {
        var elemts = []
        $('.add-movement .dynamic_controller *').filter('.category_control').each(function () {
          id_form = $(this).attr("id")
          id_form = id_form[id_form.length - 1]
          elemts.push(id_form)
        });
        $(this).append('<input type="hidden" name="elemts" value="' + elemts + '" >')
      }
      data_send = $(this).serialize()
      console.log(data_send)
      axios.post('{% url 'api:movements:create_dq_movement' %}', data_send)
        .then(function (response) {
          msg = response.data
          if (response.status === 204) {
            Swal.fire({
              title: 'Oops! Has llegado al tope',
              text: msg + " Deseas pedir autorización para generar este movimiento?",
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#60d3b0',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Si, pedir autorización',
              cancelButtonText: "No, Cancelar",
              allowOutsideClick: false,
            }).then((result) => {
              if (result.value) {
                const {value: text} = Swal.fire({
                  title: 'Escribe el motivo para pedir la autorización',
                  input: 'textarea',
                  inputPlaceholder: 'Se debe autorizar el movimiento porque ...',
                  showCancelButton: true,
                  inputValidator: (value) => {
                    return !value && 'Debes escribir el motivo para pedir la autorización'
                  },
                  allowOutsideClick: false,
                  showCloseButton: true
                }).then((result) => {
                  if (result.value) {
                    data_stop = movement.serialize()
                    data_stop += `&observation=${result.value}`
                    axios.post('{% url "api:movements:movement_request_create" %}', data_stop)
                      .then(function (response) {
                        Swal.fire({
                          title: 'Exitoso!',
                          text: response.data,
                          type: 'success',
                          allowOutsideClick: false
                        }).then((result) => {
                          if (result.value) {
                            location.reload()
                          }
                        })
                      })
                      .catch(function (error) {
                        console.log(error);
                        console.log(error.response)
                      });
                  }
                })
              } else {
                Swal.fire(
                  'Cancelado',
                  'El movimiento se ha cancelado',
                  'info'
                ).then((result) => {
                  location.reload()
                })
              }
            })
          } else {
            Swal.fire({
              type: 'success',
              title: 'Exitoso',
              text: msg,
            }).then((result) => {
              if (result.value) {
                location.reload()
              }
            })
          }
        })
        .catch(function (error) {
          // handle error
          console.log(error)
          Swal.fire({
            title: 'Ha ocurrido un error. :( No eres tu, Soy yo.',
            text: error,
            type: 'error',
            showCancelButton: false,
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'Aceptar'
          }).then((result) => {
            if (result.value) {
              location.reload()
            }
          })
        })
    })

    {% if request.user.is_superuser or is_admin_charge %}
      $('.datetimepicker_dailysquare').datetimepicker({
        format: 'Y-m-d',
        minDate: '-1970/01/04',
        maxDate: '0',
        timepicker: false,
      });
    {% else %}
      $('.datetimepicker_dailysquare').datetimepicker({
        format: 'Y-m-d',
        minDate: '-1970/01/01',
        maxDate: '0',
        timepicker: false,
      });
    {% endif %}

    // Cerrar caja
    $('#table tbody').on('click', '.close-box-dq', function () {
      pk = $(this).data('id')
      const {value: text} = Swal.fire({
        title: 'Cerrar Caja',
        text: "¿Estás seguro de cerrar la caja?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#60d3b0',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, cerrar',
        cancelButtonText: "No, Cancelar",
        allowOutsideClick: false,
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          axios.patch(`/api/boxes/${pk}/close-box`,
            {"is_closed": true}
          )
            .then(function (response) {
              Swal.fire({
                title: 'Exitoso!',
                text: "La caja se ha cerrado exitosamente",
                type: 'success',
                allowOutsideClick: false
              }).then((result) => {
                if (result.value) {
                  location.reload()
                }
              })
            })
            .catch(function (error) {
              console.log(error);
              console.log(error.response)
            });
        }
      })
    })

    // Abrir caja
    $('#table tbody').on('click', '.open-box-dq', function () {
      pk = $(this).data('id')
      const {value: text} = Swal.fire({
        title: 'Abrir Caja',
        text: "¿Estás seguro de abrir la caja?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#60d3b0',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, abrir',
        cancelButtonText: "No, Cancelar",
        allowOutsideClick: false,
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          axios.patch(`/api/boxes/${pk}/close-box`,
            {"is_closed": false}
          )
            .then(function (response) {
              Swal.fire({
                title: 'Exitoso!',
                text: "La caja se ha abierto exitosamente. Los cuadres diarios podran crear sus movimientos",
                type: 'success',
                allowOutsideClick: false
              }).then((result) => {
                if (result.value) {
                  location.reload()
                }
              })
            })
            .catch(function (error) {
              console.log(error);
              console.log(error.response)
            });
        }
      })
    })
  </script>
{% endblock %}
