{% extends "base.html" %}

{% load static humanize %}
{% load office_dailysquare_box %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/datatable/dataTables.bootstrap.min.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
{% endblock %}

{% block navbar %}
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="{% url 'webclient:office' office.slug %}"><i class="menu-icon fa fa-laptop"></i>{{ office }}</a>
    </li>
    {% if perms.office %}
      <li class="menu-title">DETALLE OFICINA</li><!-- /.menu-title -->
      {% if perms.office.change_office %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:office' office.slug %}">
            <img src="{% static 'icons/ICONOS-01.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Caja oficina
          </a>
        </li>
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:box_usd' office.slug %}">
            <img src="{% static 'icons/ICONOS-01.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Caja oficina Dólares
          </a>
        </li>
      {% endif %}
      {% if perms.boxes.change_boxdonjuan %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:box_don_juan' office.slug %}">
            <img src="{% static 'icons/ICONOS-02.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Caja Don Juan
          </a>
        </li>
      {% endif %}
      {% if perms.office.change_officeitems %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:office_items_list' office.slug %}">
            <img src="{% static 'icons/ICONOS-03.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Inventario Oficina
          </a>
        </li>
      {% endif %}
      {% if perms.office.change_supervisorcalendar %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:calendar' office.slug %}">
            <img src="{% static 'icons/ICONOS-06.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Calendario Supervisor
          </a>
        </li>
      {% endif %}
      {% if perms.office.change_notifications %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:notifications' office.slug %}">
            <i class="fas fa-bell mr-4 ml-1"></i>
            Notificaciones
          </a>
        </li>
      {% endif %}
    {% endif %}
    {% if perms.users.change_partner %}
      <li class="menu-title">Socios</li><!-- /.menu-title -->
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:partners_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-04.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Lista de socios
        </a>
      </li>
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:investment_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-04.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Lista de inversiones
        </a>
      </li>
    {% endif %}
    {% if perms.users.change_employee %}
      <li class="menu-title">Empleados</li><!-- /.menu-title -->
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:employee-list' office.slug %}">
          <img src="{% static 'icons/ICONOS-05.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Lista de empleados
        </a>
      </li>
    {% endif %}

    <li class="menu-title">Secretaria</li><!-- /.menu-title -->
    {% if perms.units.change_unit %}
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:units_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-06.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Árbol de unidades
        </a>
      </li>
    {% endif %}
    {% if perms.boxes.change_boxdailysquare %}
      <li class="menu-item-has-children dropdown active">
        <a href="{% url 'webclient:daily_square_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-07.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Cuadres diarios
        </a>
      </li>
    {% endif %}
    {% if perms.office.change_officecommitments %}
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:provisioning' office.slug %}">
          <img src="{% static 'icons/ICONOS-08.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Aprovisionamiento
        </a>
      </li>
    {% endif %}
    {% if perms.loans.change_loan %}
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:loan_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-09.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Préstamos
        </a>
      </li>
    {% endif %}
    {% if perms.chains.change_chain %}
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:chain_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-10.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Cadenas
        </a>
      </li>
    {% endif %}
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="row">
          <div class="col-xl-6">
            <div class="card">

              <div class="card-body">
                <table id="table" class="table table-striped table-bordered display responsive display nowrap"
                       cellspacing="0" style="width:100%">
                  <h1 class="mb-4">Movimientos SAC</h1>
                  <h3 class="mb-4">Retiros</h3>
                  <thead>
                  <tr>
                    <th>Ruta</th>
                    <th>Fecha</th>
                    <th>Valor</th>
                  </tr>
                  </thead>
                  <tbody>

                  {% for w in withdraws %}
                    <tr>
                      <td>{{ w.unit }}</td>
                      <td>{{ w.date }}</td>
                      <td>$ {{ w.value|intcomma }}</td>
                    </tr>
                  {% endfor %}
                  <tr>
                    <td colspan="2">
                      <strong>TOTAL</strong>
                    </td>
                    <td>
                      <strong>$ {{ withdraws_total|intcomma }}</strong>
                    </td>

                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-body">
                <table id="table" class="table table-striped table-bordered display responsive display nowrap"
                       cellspacing="0" style="width:100%">
                  <h3 class="mb-4">Inversiones</h3>
                  <thead>
                  <tr>
                    <th>Ruta</th>
                    <th>Fecha</th>
                    <th>Valor</th>
                  </tr>
                  </thead>
                  <tbody>

                  {% for i in investments %}
                    <tr>
                      <td>{{ i.unit }}</td>
                      <td>{{ i.date }}</td>
                      <td>$ {{ i.value|intcomma }}</td>
                    </tr>
                  {% endfor %}
                  <tr>
                    <td colspan="2">
                      <strong>TOTAL</strong>
                    </td>
                    <td>
                      <strong>$ {{ investments_total|intcomma }}</strong>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="card">
              <div class="card-body">
                <table id="table" class="table table-striped table-bordered display responsive display nowrap"
                       cellspacing="0" style="width:100%">
                  <h1 class="mb-4">Movimientos Venda+</h1>
                  <h3 class="mb-4">Retiros</h3>
                  <thead>
                  <tr>
                    <th>Ruta</th>
                    <th>Fecha</th>
                    <th>Comentarios</th>
                    <th>Valor</th>
                  </tr>
                  </thead>
                  <tbody class="venda_withdraws">
                  <tr>
                    <td colspan="3">
                      <strong>TOTAL</strong>
                    </td>
                    <td>
                      <strong>$ <span id="total-withdraws">0</span></strong>
                    </td>

                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-body">
                <table id="table" class="table table-striped table-bordered display responsive display nowrap"
                       cellspacing="0" style="width:100%">
                  <h3 class="mb-4">Inversiones</h3>
                  <thead>
                  <tr>
                    <th>Ruta</th>
                    <th>Fecha</th>
                    <th>Comentario</th>
                    <th>Valor</th>
                  </tr>
                  </thead>
                  <tbody class="venda_investments">

                  <tr>
                    <td colspan="3">
                      <strong>TOTAL</strong>
                    </td>
                    <td>
                      <strong>$ <span id="total-investment">0</span></strong>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


{% endblock %}

{% block extra_js %}

  <script type="text/javascript">

    api_venda_url = 'http://external.vnmas.net'
    let d = new Date();
    let month = d.getMonth()+1;
    let day = d.getDate();
    let today = d.getFullYear() + '' +
      (month<10 ? '0' : '') + month + '' +
      (day<10 ? '0' : '') + day;

    function get_investments(route) {
      let token;
      axios.get(`${api_venda_url}/api/Session/Login/User20180109/123**abc`)
        .then((response) => {
          data = response.data
          token = data[0].data[0].user.token
          axios.get(`${api_venda_url}/api/Vmas/GetInvestments/${token}/20180101/${today}/${route}/`)
            .then((response) => {
              data = response.data
              if (data.length > 0){
                let total = parseInt($('#total-investment').text())
                let investments = data[0].data
                $.each(investments, function( k, v ) {
                  let value = v.investment
                  total += parseInt(value.value)
                  $('.venda_investments').prepend(
                    `
                      <tr>
                        <td>${value.route}</td>
                        <td>${value.date}</td>
                        <td>${value.comment}</td>
                        <td>$ ${value.value}</td>
                      </tr>
                    `
                  )
                });
                $('#total-investment').text(total)
              }
            })
            .catch(function (error) {
              // handle error
              console.log(error);
            })
        })
        .catch(function (error) {
          // handle error
          console.log(error);
        })
    }

    function get_withdraws(route) {
      let token;
      axios.get(`${api_venda_url}/api/Session/Login/User20180109/123**abc`)
        .then((response) => {
          data = response.data
          token = data[0].data[0].user.token
          axios.get(`${api_venda_url}/api/Vmas/GetWithdrawals/${token}/20180101/${today}/${route}/`)
            .then((response) => {
              data = response.data
              if (data.length > 0){
                let total = parseInt($('#total-withdraws').text())
                let withdraw = data[0].data
                $.each(withdraw, function( k, v ) {
                  let value = v.withdrawal
                  total += parseInt(value.value)
                  $('.venda_withdraws').prepend(
                    `
                      <tr>
                        <td>${value.route}</td>
                        <td>${value.date}</td>
                        <td>${value.comment}</td>
                        <td>$ ${value.value}</td>
                      </tr>
                    `
                  )
                });
                $('#total-withdraws').text(total)
              }
            })
            .catch(function (error) {
              // handle error
              console.log(error);
            })
        })
        .catch(function (error) {
          // handle error
          console.log(error);
        })
    }

    $(document).ready(function () {
      {% for i in investments %}
        get_investments('{{ i.unit.name }}')
        get_withdraws('{{ i.unit.name }}')
      {% endfor %}
    })


  </script>
{% endblock %}
