{% extends "base.html" %}

{% load static humanize %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/datatable/dataTables.bootstrap.min.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
  <style>

    .label {
      padding: 3px 10px;
      line-height: 13px;
      color: #ffffff;
      font-weight: 400;
      border-radius: 4px;
      font-size: 75%;
    }

    .label-success {
      background-color: #60d3b0;
    }

    .label-rounded {
      border-radius: 60px;
    }
  </style>
{% endblock %}



{% block navbar %}
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="#"><i class="menu-icon fa fa-laptop"></i>Oficinas Mundiales</a>
    </li>
    <li class="menu-title">DETALLE OFICINA</li><!-- /.menu-title -->
    <li class="menu-item-has-children dropdown active">
      <a href="{% url 'webclient:home' %}">
        <img src="{% static 'icons/ICONOS-01.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
        Inicio
      </a>
    </li>
    {% if perms.movement.change_movementrequest %}
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:movement_required' %}">
          <img src="{% static 'icons/ICONOS-01.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Requerimiento de movimientos
        </a>
      </li>
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:movement_withdraw_required' %}">
          <img src="{% static 'icons/ICONOS-01.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Requerimiento de retiro de socio
        </a>
      </li>
      <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:movement_between_offices_require' %}">
            <img src="{% static 'icons/ICONOS-01.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Requerimiento entre oficinas
          </a>
        </li>
    {% endif %}

  </ul>
{% endblock %}

{% block index_actions %}
{% endblock %}

{% block content %}

{% if office %}
  <div class="row country-row">
    <div class="col-12">
      <div class="country-name">
        <span>{{ office|upper }}</span>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-4 col-xlg-4 col-md-6">
        <div class="card blog-widget">
          <div class="card-body">
            <a href="{% url 'webclient:office' office.slug %}">
              <div class="blog-image">
                <img src="{% if office.image %} {{ office.image.url }}{% else %}{% static 'images/country.jpg' %}{% endif %}"
                     alt="img" class="img-responsive">
              </div>
              <span class="office-name">{{ office }}</span>
            </a><br>
            <label class="label label-rounded label-success">Notificaciones </label> <i class="fas fa-bell"
                                                                                        style="color: #60d3b0"></i>
            <ul class="notify-list">
              {% for n in office.related_office_movement.all|slice:"0:2" %}
                <li>{{ n.office_sender }} - $ {{ n.value|intcomma }}: {{ n.concept }}</li>
              {% endfor %}
            </ul>
            <div class="d-flex">
              <div class="read"><a href="{% url 'webclient:notifications' office.slug %}" class="link font-medium">Ver más</a></div>
              <div class="ml-auto">
                <a href="javascript:void(0)" class="link m-r-10 " data-toggle="tooltip" title=""
                   data-original-title="Like"><i class="mdi mdi-heart-outline"></i></a> <a href="javascript:void(0)"
                                                                                           class="link"
                                                                                           data-toggle="tooltip"
                                                                                           title=""
                                                                                           data-original-title="Share"><i
                class="mdi mdi-share-variant"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
{% else %}
  {% for office in offices %}
    <div class="row country-row">
      <div class="col-12">
        <div class="country-name">
          <span>{{ office|upper }}</span>
        </div>
      </div>
    </div>
    <div class="row">
      {% for o in office.related_office_country.all %}

        <div class="col-lg-4 col-xlg-4 col-md-6">
          <div class="card blog-widget">
            <div class="card-body">
              <a href="{% url 'webclient:office' o.slug %}">
                <div class="blog-image">
                  <img src="{% if o.image %} {{ o.image.url }}{% else %}{% static 'images/country.jpg' %}{% endif %}"
                       alt="img" class="img-responsive">
                </div>
                <span class="office-name">{{ o }}</span>
              </a><br>
              {% if request.user.is_superuser or request.user.related_employee.get.is_admin_charge %}
                <label class="label label-rounded label-success">Notificaciones </label> <i class="fas fa-bell"
                                                                                          style="color: #60d3b0"></i>
                <ul class="notify-list">
                  {% for n in o.related_office_movement.all|slice:"0:2" %}
                    <li>{{ n.office_sender }} - $ {{ n.value|intcomma }}: {{ n.concept }}</li>
                  {% endfor %}
                </ul>
                <div class="d-flex">
                  <div class="read"><a href="{% url 'webclient:notifications' o.slug %}" class="link font-medium">Ver más</a></div>
                  <div class="ml-auto">
                    <a href="javascript:void(0)" class="link m-r-10 " data-toggle="tooltip" title=""
                      data-original-title="Like"><i class="mdi mdi-heart-outline"></i></a> <a href="javascript:void(0)"
                                                                                              class="link"
                                                                                              data-toggle="tooltip"
                                                                                              title=""
                                                                                              data-original-title="Share"><i
                    class="mdi mdi-share-variant"></i></a>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% empty %}
        <div class="col-12">
          <span class="no-office-home">No hay paises en esta oficina</span>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endif %}

{% endblock %}

{% block modals %}
{% endblock %}

{% block extra_js %}

  <script type="text/javascript">
    $(document).ready(function () {
      $('#table').DataTable({
        responsive: {
          details: true
        },
        dom: 'lBfrtip',
        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
        buttons: [
          'excel', 'print'
        ],
        "order": [[1, "asc"]],
        language: {
          "sProcessing": "Procesando...",
          "sLengthMenu": "Mostrar _MENU_ registros",
          "sZeroRecords": "No se encontraron resultados",
          "sEmptyTable": "Ningún dato disponible en esta tabla",
          "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
          "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
          "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
          "sInfoPostFix": "",
          "sSearch": "Buscar:",
          "sUrl": "",
          "sInfoThousands": ",",
          "sLoadingRecords": "Cargando...",
          "oPaginate": {
            "sFirst": "Primero",
            "sLast": "Último",
            "sNext": "Siguiente",
            "sPrevious": "Anterior"
          },
          "oAria": {
            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
          }
        }
      });

      $('#concept').select2({
        language: "es"
      });
    });
  </script>
{% endblock %}
