{% extends "base.html" %}

{% load static humanize %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/datatable/dataTables.bootstrap.min.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
{% endblock %}

{% block navbar %}
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="{% url 'webclient:office' office.slug %}"><i class="menu-icon fa fa-laptop"></i>{{ office }}</a>
    </li>
    {% if perms.office %}
      <li class="menu-title">DETALLE OFICINA</li><!-- /.menu-title -->
      {% if perms.office.change_office %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:office' office.slug %}">
            <img src="{% static 'icons/ICONOS-01.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Caja oficina
          </a>
        </li>
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:box_usd' office.slug %}">
            <img src="{% static 'icons/ICONOS-01.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Caja oficina Dólares
          </a>
        </li>
      {% endif %}
      {% if perms.boxes.change_boxdonjuan %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:box_don_juan' office.slug %}">
            <img src="{% static 'icons/ICONOS-02.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Caja Don Juan
          </a>
        </li>
      {% endif %}
      {% if perms.office.change_officeitems %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:office_items_list' office.slug %}">
            <img src="{% static 'icons/ICONOS-03.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Inventario Oficina
          </a>
        </li>
      {% endif %}
      {% if perms.office.change_supervisorcalendar %}
        <li class="menu-item-has-children dropdown">
          <a href="{% url 'webclient:calendar' office.slug %}">
            <img src="{% static 'icons/ICONOS-06.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
            Calendario Supervisor
          </a>
        </li>
      {% endif %}
    {% endif %}
    {% if perms.users.change_partner %}
      <li class="menu-title">Socios</li><!-- /.menu-title -->
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:partners_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-04.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Lista de socios
        </a>
      </li>
      <li class="menu-item-has-children dropdown active">
        <a href="{% url 'webclient:investment_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-04.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Lista de inversiones
        </a>
      </li>
    {% endif %}
    {% if perms.users.change_employee %}
      <li class="menu-title">Empleados</li><!-- /.menu-title -->
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:employee-list' office.slug %}">
          <img src="{% static 'icons/ICONOS-05.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Lista de empleados
        </a>
      </li>
    {% endif %}

    <li class="menu-title">Secretaria</li><!-- /.menu-title -->
    {% if perms.units.change_unit %}
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:units_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-06.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Árbol de unidades
        </a>
      </li>
    {% endif %}
    {% if perms.boxes.change_boxdailysquare %}
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:daily_square_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-07.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Cuadres diarios
        </a>
      </li>
    {% endif %}
    {% if perms.office.change_officecommitments %}
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:provisioning' office.slug %}">
          <img src="{% static 'icons/ICONOS-08.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Aprovisionamiento
        </a>
      </li>
    {% endif %}
    {% if perms.loans.change_loan %}
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:loan_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-09.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Préstamos
        </a>
      </li>
    {% endif %}
    {% if perms.chains.change_chain %}
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:chain_list' office.slug %}">
          <img src="{% static 'icons/ICONOS-10.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Cadenas
        </a>
      </li>
    {% endif %}
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <table id="table" class="table table-striped table-bordered display responsive display nowrap"
                       cellspacing="0" style="width:100%">
                  <div class="row">
                    <div class="col-md-6">
                      <h3 class="mb-4">{{ investment }}</h3>
                    </div>
                    <div class="col-md-6">
                      <h3 class="float-right">SALDO POR PAGAR: $ {{ investment.balance|intcomma }}{{ office.country.currency.abbr }} </h3>
                    </div>
                  </div>
                  <span class="investment-element">ELEMENTO QUE SE NEGOCIA: <span>{{ investment.element }}</span></span>
                  <span class="investment-element">CONDICIONES DEL NEGOCIO: <span>{{ investment.conditions }}</span></span>
                  <thead>
                    <tr>
                      <th>Fecha</th>
                      <th>Valor</th>
                      <th>Detalle</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for i in investment.related_pays.all %}
                    <tr>
                      <td>{{ i.date }}</td>
                      <td>$ {{ i.value|intcomma }}</td>
                      <td>{{ i.detail }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        {% if perms.loans.add_loan %}
          <a href="" class="float" data-toggle="modal" data-target="#modalAddPayment">
            <i class="fa fa-plus my-float"></i>
          </a>
          <div class="label-container">
            <div class="label-text">Registrar préstamo</div>
            <i class="fa fa-play label-arrow"></i>
          </div>
          </div>
        {% endif %}
    </div>
  </div>


<!-- Modal Pago -->
  <div class="modal fade" id="modalAddPayment" role="dialog" aria-labelledby="modalAddPaymentTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLongTitle">Realizar abono</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" class="add-investment-pay">
            {% csrf_token %}
            <input type="hidden" name="investment" id="investment" value="{{ investment.pk }}">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="value">Valor del abono</label>
                <input class="form-control" type="number" name="value" id="value" value=""
                       placeholder="Ingresa el valor a abonar" placeholder="$" required autocomplete="off">
              </div>
              <div class="form-group col-md-6 box-select">
                <label for="date">Fecha del abono</label>
                <input type="text" name="date" id="date" class="form-control datetimepicker" placeholder="yyyy-mm-dd" style="width: 100%;" autocomplete="off" required>
              </div>
              <div class="form-group col-md-12">
                <label for="detail">Detalle del abono</label>
                <textarea class="form-control" name="detail" id="detail" rows="3" cols="5" required></textarea>
              </div>
            </div>
            <hr>
            <button type="submit" class="btn btn-submit">Abonar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}

  <script type="text/javascript">
    $(document).ready(function () {
      $('#table').DataTable({
        responsive: {
          details: true
        },
        dom: 'lBfrtip',
        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
        buttons: [
          'excel', 'print'
        ],
        "order": [[1, "asc"]],
        language: {
          "sProcessing": "Procesando...",
          "sLengthMenu": "Mostrar _MENU_ registros",
          "sZeroRecords": "No se encontraron resultados",
          "sEmptyTable": "Ningún dato disponible en esta tabla",
          "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
          "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
          "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
          "sInfoPostFix": "",
          "sSearch": "Buscar:",
          "sUrl": "",
          "sInfoThousands": ",",
          "sLoadingRecords": "Cargando...",
          "oPaginate": {
            "sFirst": "Primero",
            "sLast": "Último",
            "sNext": "Siguiente",
            "sPrevious": "Anterior"
          },
          "oAria": {
            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
          }
        }
      });

      $('.add-loan select').each(function () {
        $(this).select2({
          language: "es"
        });
      });

      $('.add-investment-pay').on('submit', function (e) {
        e.preventDefault()
        data = $(this).serialize()
        axios.defaults.headers.common['Api-Key'] = '{{API_KEY}}'
        axios.post('{% url 'api:investments:pay_create' %}', data)
          .then(function (response) {
            data = response.data
            Swal.fire({
              type: 'success',
              title: 'Exitoso',
              text: data,
            }).then((result) => {
              if (result.value) {
                location.reload()
              }
            })
              .catch(function (error) {
                Swal.fire({
                  title: 'Ha ocurrido un error',
                  text: error,
                  type: 'error',
                  showCancelButton: false,
                  confirmButtonColor: '#3085d6',
                  confirmButtonText: 'Aceptar'
                }).then((result) => {
                  if (result.value) {
                    location.reload()
                  }
                })
              })
          })
      })
    });

  </script>
{% endblock %}

