{% extends "base.html" %}

{% load static humanize %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/datatable/dataTables.bootstrap.min.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
{% endblock %}

{% block navbar %}
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="#"><i class="menu-icon fa fa-laptop"></i>Oficinas Mundiales</a>
    </li>
    <li class="menu-title">DETALLE OFICINA</li><!-- /.menu-title -->
    <li class="menu-item-has-children dropdown">
      <a href="{% url 'webclient:home' %}">
        <img src="{% static 'icons/ICONOS-01.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
        Inicio
      </a>
    </li>
    {% if perms.movement.change_movementrequest %}
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:movement_required' %}">
          <img src="{% static 'icons/ICONOS-01.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Requerimiento de movimientos
        </a>
      </li>
      <li class="menu-item-has-children dropdown ">
        <a href="{% url 'webclient:movement_withdraw_required' %}">
          <img src="{% static 'icons/ICONOS-01.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Requerimiento de retiro de socio
        </a>
      </li>
      <li class="menu-item-has-children dropdown active">
        <a href="{% url 'webclient:movement_between_offices_require' %}">
          <img src="{% static 'icons/ICONOS-01.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
          Requerimiento entre oficinas
        </a>
      </li>
    {% endif %}

  </ul>
{% endblock %}

{% block index_actions %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <table id="table" class="table table-striped table-bordered display responsive display nowrap"
                       cellspacing="0" style="width:100%">
                  <h3 class="mb-4">Requerimientos de retiro de socio </h3>
                  <thead>
                  <tr>
                    <th>Responsable</th>
                    <th>Fecha</th>
                    <th>Socio</th>
                    <th>Detalle</th>
                    <th>Valor</th>
                    <th>Observación</th>
                    <th>Motivo solicitud</th>
                    <th></th>
                    <!-- <th></th> -->
                  </tr>
                  </thead>
                  <tbody>
                  {% for m in movements %}
                    <tr>
                      <td>{{ m.responsible.get_full_name }}</td>
                      <td>{{ m.date|date:"d-M-Y" }}</td>
                      <td>{{ m.box_partner.partner }}</td>
                      <td>{{ m.detail }}</td>
                      <td>{{ m.value }}</td>
                      <td>{{ m.observation }}</td>
                      <td>{{ m.withdraw_reason }}</td>
                      <td>
                        <a href="#" class="accept-mv" data-id="{{ m.pk }}">Aprobar</a>
                        <a href="#" class="decline-mv" data-id="{{ m.pk }}">Rechazar</a>
                      </td>
                      <!-- <td>Actions</td> -->
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#table').DataTable({
        responsive: true,
        dom: 'lBfrtip',
        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
        buttons: [
          'excel', 'print'
        ],
        "order": [[1, "asc"]],
        language: {
          "sProcessing": "Procesando...",
          "sLengthMenu": "Mostrar _MENU_ registros",
          "sZeroRecords": "No se encontraron resultados",
          "sEmptyTable": "Ningún dato disponible en esta tabla",
          "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
          "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
          "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
          "sInfoPostFix": "",
          "sSearch": "Buscar:",
          "sUrl": "",
          "sInfoThousands": ",",
          "sLoadingRecords": "Cargando...",
          "oPaginate": {
            "sFirst": "Primero",
            "sLast": "Último",
            "sNext": "Siguiente",
            "sPrevious": "Anterior"
          },
          "oAria": {
            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
          }
        }
      });
    });

    $('.accept-mv').on('click', function () {
      id = $(this).data('id')
      Swal.fire({
        title: 'Estas Seguro?',
        text: "Seguro quieres aprobar este retiro?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, Aprobar',
        cancelButtonText: 'Cancelar',
        reverseButtons: true,
        allowOutsideClick: false
      }).then((result) => {
        if (result.value) {
          axios.post('{% url "api:movements:accept_between_office_request" %}', {
            movement_id: id,
          })
            .then(function (response) {
              Swal.fire({
                title: 'Exitoso!',
                text: response.data,
                type: 'success',
                allowOutsideClick: false
              }).then((result) => {
                if (result.value) {
                  location.reload()
                }
              })
            })
            .catch(function (error) {
              Swal.fire({
                title: 'Error!',
                text: error.response,
                type: 'error',
                allowOutsideClick: false
              })
            });
        }
      })
    })

    $('.decline-mv').on('click', function () {
      id = $(this).data('id')
      Swal.fire({
        title: 'Estas Seguro?',
        text: "Seguro quieres denengar este retiro?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, denegar',
        cancelButtonText: 'Cancelar',
        reverseButtons: true,
        allowOutsideClick: false
      }).then((result) => {
        if (result.value) {
          axios.post('{% url "api:movements:denied_between_office_request" %}', {
            movement_id: id,
          })
            .then(function (response) {
              Swal.fire({
                title: 'Exitoso!',
                text: response.data,
                type: 'success',
                allowOutsideClick: false
              }).then((result) => {
                if (result.value) {
                  location.reload()
                }
              })
            })
            .catch(function (error) {
              Swal.fire({
                title: 'Error!',
                text: error.response,
                type: 'error',
                allowOutsideClick: false
              })
            });
        }
      })
    })
  </script>
{% endblock %}
