{% extends "base.html" %}

{% load static humanize %}

{% block extra_css%}
    <link rel="stylesheet" href="{% static 'css/datatable/dataTables.bootstrap.min.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
{% endblock%}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="{% url 'webclient:office' office.slug %}"><i class="menu-icon fa fa-laptop"></i>{{office}}</a>
        </li>
        <li class="menu-title">DETALLE OFICINA</li><!-- /.menu-title -->
        <li class="menu-item-has-children dropdown">
            <a href="{% url 'webclient:office' office.slug %}">
                <img src="{% static 'icons/ICONOS-01.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
                Caja oficina
            </a>
        </li>
        <li class="menu-item-has-children dropdown">
            <a href="{% url 'webclient:box_don_juan' office.slug %}">
                <img src="{% static 'icons/ICONOS-02.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
                Caja Don Juan
            </a>
        </li>
        <li class="menu-item-has-children dropdown">
            <a href="#"> 
                <img src="{% static 'icons/ICONOS-03.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
                Inventario Oficina
            </a>
        </li>

        <li class="menu-title">Socios</li><!-- /.menu-title -->
        <li class="menu-item-has-children dropdown active">
            <a href="{% url 'webclient:partners_list' office.slug %}" >
                <img src="{% static 'icons/ICONOS-04.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
                Lista de socios
            </a>
        </li>

        <li class="menu-title">Empleados</li><!-- /.menu-title -->
        <li class="menu-item-has-children dropdown">
            <a href="#"> 
                <img src="{% static 'icons/ICONOS-05.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
                Lista de empleados
            </a>
        </li>
        

        <li class="menu-title">Secretaria</li><!-- /.menu-title -->

        <li class="menu-item-has-children dropdown">
            <a href="#"> 
                <img src="{% static 'icons/ICONOS-06.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
                Árbol de unidades
            </a>
        </li>
        <li class="menu-item-has-children dropdown">
            <a href="{% url 'webclient:daily_square_list' office.slug %}">
                <img src="{% static 'icons/ICONOS-07.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
                Cuadres diarios
            </a>
        </li>
        <li class="menu-item-has-children dropdown">
            <a href="#"> 
                <img src="{% static 'icons/ICONOS-08.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
                Aprovisionamiento
            </a>
        </li>
        <li class="menu-item-has-children dropdown">
            <a href="#"> 
                <img src="{% static 'icons/ICONOS-09.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
                Préstamos
            </a>
        </li>
        <li class="menu-item-has-children dropdown">
            <a href="#"> 
                <img src="{% static 'icons/ICONOS-10.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
                Cadenas
            </a>
        </li>

    </ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <table id="table" class="table table-striped table-bordered display responsive display nowrap" cellspacing="0" style="width:100%">
                                    <h3 class="mb-4">{{box}}</h3>
                                    <thead>
                                        <tr>
                                            <th>Responsable</th>
                                            <th>Fecha</th>
                                            <th>Concepto</th>
                                            <th>Detalle</th>
                                            <th>Entra</th>
                                            <th>Sale</th>
                                            <th>Saldo</th>
                                            <!-- <th></th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for m in box.movements.all %}
                                            <tr>
                                                <td>{{m.responsible.get_full_name}}</td>
                                                <td>{{m.date|date:"d-M-Y"}}</td>
                                                <td>{{m.concept.name}}</td>
                                                <td>{{m.detail}}</td>
                                                <td>{% if m.movement_type == 'IN' %}${{m.value|intcomma}} {{office.country.currency.abbr}}{%else%}-{%endif%}</td>
                                                <td>{% if m.movement_type == 'OUT' %}${{m.value|intcomma}} {{office.country.currency.abbr}}{%else%}-{%endif%}</td>
                                                <td>${{m.balance|intcomma}}{{office.country.currency.abbr}}</td>
                                                <!-- <td>Actions</td> -->
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% if request.user.employee.charge.name == 'Secretaria' %}
                    <a href="" class="float" data-toggle="modal" data-target="#exampleModalCenter">
                        <i class="fa fa-plus my-float"></i>
                    </a>
                    <div class="label-container">
                        <div class="label-text">Añadir movimiento</div>
                        <i class="fa fa-play label-arrow"></i>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Modal add movement -->
    <div class="modal fade" id="exampleModalCenter" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLongTitle">Añadir movimiento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" class="add-movement" action="{% url 'webclient:add_partner_movement' office.slug %}">
                        {% csrf_token %}
                        
                        <input type="hidden" name="partner_id" value="{{box.partner.pk}}">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="concept">Concepto</label>
                                <select class="form-control" id="concept" name="concept" style="width: 100%; height: 20px;" required>
                                    <option disabled selected value="">Selecciona un concepto</option>
                                    {% for concept in concepts %}
                                        <option value="{{concept.pk}}">{{concept}}</option>
                                    {% endfor %}
                                </select>

                            </div>
                            <div class="form-group col-md-6">
                                <label for="date">Fecha</label>
                                <input type="date" class="form-control date-picker" id="date" name="date" placeholder="yyyy-mm-dd" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="movement_type">Entra / Sale</label>
                                <select class="form-control" id="movement_type" name="movement_type" required>
                                    <option selected disabled value="">Selecciona el tipo de movimiento</option>
                                    <option value="IN">Entra</option>
                                    <option value="OUT">Sale</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="value">Valor</label>
                                <input type="number" class="form-control" id="value" name="value" placeholder="Valor del movimiento" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="detail">Detalle</label>
                            <textarea class="form-control" id="detail" rows="3" name="detail" placeholder="Ingresa el detalle" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-submit">Añadir</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}


    <script src="{% static 'js/data-table/datatables.min.js' %}"></script>
    <script src="{% static 'js/data-table/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/data-table/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'js/data-table/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/data-table/jszip.min.js' %}"></script>
    <script src="{% static 'js/data-table/vfs_fonts.js' %}"></script>
    <script src="{% static 'js/data-table/buttons.html5.min.js' %}"></script>
    <script src="{% static 'js/data-table/buttons.print.min.js' %}"></script>
    <script src="{% static 'js/data-table/buttons.colVis.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#table').DataTable({
                responsive: {
                    details: true
                },
                dom: 'lBfrtip',
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                buttons: [
                    'excel', 'print'
                ],
                "order": [[ 1, "asc" ]],
                language: {
                    "sProcessing":     "Procesando...",
                    "sLengthMenu":     "Mostrar _MENU_ registros",
                    "sZeroRecords":    "No se encontraron resultados",
                    "sEmptyTable":     "Ningún dato disponible en esta tabla",
                    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix":    "",
                    "sSearch":         "Buscar:",
                    "sUrl":            "",
                    "sInfoThousands":  ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst":    "Primero",
                        "sLast":     "Último",
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });

            $('#concept').select2({
                language: "es"
            });
        });
    </script>
{% endblock%}
