{% extends "base.html" %}

{% load static humanize %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/datatable/dataTables.bootstrap.min.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
  <style>

    .label {
      padding: 3px 10px;
      line-height: 13px;
      color: #ffffff;
      font-weight: 400;
      border-radius: 4px;
      font-size: 75%;
    }

    .label-success {
      background-color: #60d3b0;
    }

    .label-rounded {
      border-radius: 60px;
    }

    .navbar .navbar-nav li.menu-item-has-children a {
      line-height: 25px !important;
    }

  </style>
{% endblock %}

{% block navbar %}
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="#"><i class="menu-icon fa fa-laptop"></i>Oficinas Mundiales</a>
    </li>
    <li class="menu-title">DETALLE OFICINA</li><!-- /.menu-title -->
    <li class="menu-item-has-children dropdown">
      <a href="{% url 'webclient:home' %}">
        <img src="{% static 'icons/ICONOS-01.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
        Inicio
      </a>
    </li>
    {% if request.user.is_superuser %}
      <li class="menu-item-has-children dropdown active">
        <a href="{% url 'webclient:reports' %}" data-toggle="modal" data-target="#migrate">
          <i class="fas fa-chart-line mr-3"></i>
          Informes
        </a>
      </li>
    {% endif %}

  </ul>
{% endblock %}

{% block index_actions %}
{% endblock %}

{% block content %}
  <div class="row country-row">
    <div class="col-12">
      <div class="country-name">
        <span>Reportes</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Informe de endeudamiento</h3>
          <p class="card-text">El cálculo del nivel de endeudamiento se realiza con la siguiente formula: ENDEUDAMIENTO
            = SALDO CAJA SOCIEDAD+SALDO UNIDAD+BASERUTA/DEUDA DE LA SOCIEDAD. Dependiendo del resultado, se debe
            presentar un semáforo de colores, de la siguiente manera: 0-50 VERDE 51-79 AMARILLO 80-100 NARANJA MAYOR DE
            100 ROJO"</p>
          <a href="#" class="card-link btn-dynamic">Ver informe</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Informe de activos</h3>
          <p class="card-text">Informe de activos, que corresponde al inventario. Se puede filtrar por país, oficina,
            tipo de elemento, marca</p>
          <a href="{% url 'webclient:report_actives' %}" class="card-link btn-dynamic">Ver informe</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Ranking de oficinas</h3>
          <p class="card-text">Ranking de oficinas</p>
          <a href="#" class="card-link btn-dynamic">Ver informe</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Obligaciones mensuales por pagar</h3>
          <p class="card-text">Obligaciones mensuales por pagar: Pago de intereses de prestámos. Cobro intereses
            prestámos.
            Pago de cadena. Cobro de cadena. Pago de inversiones Negocios </p>
          <a href="{% url 'webclient:report_account_payable' %}" class="card-link btn-dynamic">Ver informe</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Calculo de pagos de salarios</h3>
          <p class="card-text">cálculo de pago de salarios de los empleados de la unidades; el sistema cargará del
            informe de Venda+ el recaudo de la semana de cada cobrador y el sistema realizará el cálculo del salario de
            acuerdo al porcentaje de comisión que gana cada cobrador, para que la secretaria verifique de forma manual,
            que el pago que recibió cada cobrador sea el pactado</p>
          <a href="#" class="card-link btn-dynamic">Ver informe</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block extra_js %}

  <script type="text/javascript">
  </script>
{% endblock %}
