{% extends "base.html" %}

{% load static humanize %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/datatable/dataTables.bootstrap.min.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/handsontable@7.0.3/dist/handsontable.full.min.css" rel="stylesheet"
        media="screen">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
  <style>
    .navbar .navbar-nav li.menu-item-has-children a {
      line-height: 25px !important;
    }

    button.intext-btn {
      margin-top: 25px;
      border-radius: 10px;
      background: var(--green-box);
      color: #fff;
      padding: 5px 15px;
    }

  </style>
{% endblock %}

{% block navbar %}
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="#"><i class="menu-icon fa fa-laptop"></i>Oficinas Mundiales</a>
    </li>
    <li class="menu-title">DETALLE OFICINA</li><!-- /.menu-title -->
    <li class="menu-item-has-children dropdown">
      <a href="{% url 'webclient:home' %}">
        <img src="{% static 'icons/ICONOS-01.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
        Inicio
      </a>
    </li>
    {% if request.user.is_superuser or request.user.is_secretary %}
      <li class="menu-item-has-children dropdown active">
        <a href="{% url 'webclient:reports' %}">
          <i class="fas fa-chart-line mr-3"></i>
          Informes
        </a>
      </li>
    {% endif %}

  </ul>
{% endblock %}

{% block index_actions %}
{% endblock %}

{% block content %}
  <div class="row country-row">
    <div class="col-12">
      <div class="country-name">
        <span>Ranking de oficinas</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <pre id="example1console" class="console">consola</pre>
                <div id="ranking"></div>
                <button class="intext-btn load">Cargar</button>
                <button class="intext-btn save">Guardar</button>
                <button id="export-file" class="intext-btn">Descargar CSV</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block extra_js %}
  <script src="https://cdn.jsdelivr.net/npm/handsontable@7.0.3/dist/handsontable.full.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/handsontable@7.0.3/dist/languages/all.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      let container = document.getElementById('ranking');
      var consoleExample = $("#example1console");
      let data = [
        ['Apertura y Cierre', 0, 0, 0, 0, 0, 0],
        ['Descripción de la ponderación', 0, 0, 0, 0, 0, 0],
        ['', 0, 0, 0, 0, 0, 0],

      ]
      let col_header = [
        '',
        '<a href="{% url 'webclient:report_hours' 1 %}" target="_blank">Oficina 1</a>',
        '<a href="{% url 'webclient:report_hours' 2 %}" target="_blank">Oficina 2</a>',
        '<a href="{% url 'webclient:report_hours' 3 %}" target="_blank">Oficina 3</a>',
        '<a href="{% url 'webclient:report_hours' 4 %}" target="_blank">Oficina 4</a>',
        '<a href="{% url 'webclient:report_hours' 5 %}" target="_blank">Oficina 5</a>',
        '<a href="{% url 'webclient:report_hours' 6 %}" target="_blank">Oficina 6</a>'
      ]
      let hot = new Handsontable(container, {
        data: data,
        colHeaders: col_header,
        rowHeaders: true,
        contextMenu: true,
        allowInsertColumn: false,
        language: 'es-MX',
        width: '100%',
        licenseKey: 'non-commercial-and-evaluation',
        columnSummary: function () {
          let configArray = [];
          for (let i = 1; i <= 6; i++) {
            configArray.push({
              sourceColumn: i,
              destinationRow: 0,
              destinationColumn: i,
              reversedRowCoords: true,
              type: 'sum',
              forceNumeric: true
            },);
          }

          return configArray;
        },
      });

      let button = document.getElementById('export-file');
      let exportPlugin = hot.getPlugin('exportFile');

      button.addEventListener('click', function () {
        exportPlugin.downloadFile('csv', {
          bom: false,
          columnDelimiter: ',',
          columnHeaders: false,
          exportHiddenColumns: true,
          exportHiddenRows: true,
          fileExtension: 'csv',
          filename: 'Ranking_oficinas_[YYYY]-[MM]-[DD]',
          mimeType: 'text/csv',
          rowDelimiter: '\r\n',
          rowHeaders: true
        });
      });

      $('.load').click(function () {
        axios.get('/user')
          .then(function (response) {
            console.log(response);
            consoleExample.text('Data Loaded');
          })
          .catch(function (error) {
            console.log(error);
            consoleExample.text('Load error');
          });
        //$.ajax('scripts/json/load.json', 'GET', '', function (res) {
        //  var data = JSON.parse(res.response);
        //  hot.loadData(data.data);
        //  consoleExample.innerText = 'Data loaded';
        //});
      });

      $('.save').click(function () {
        data = hot.getData()
        console.log(data)
        axios.post('/user', data)
          .then(function (response) {
            console.log(response);
            consoleExample.text('Data saved');
          })
          .catch(function (error) {
            console.log(error);
            consoleExample.text('Save error');
          });
      });
    });

  </script>
{% endblock %}
