{% extends "base.html" %}

{% load static humanize %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/datatable/dataTables.bootstrap.min.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
  <style>

    .navbar .navbar-nav li.menu-item-has-children a {
      line-height: 25px !important;
    }

  </style>
{% endblock %}

{% block navbar %}
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="#"><i class="menu-icon fa fa-laptop"></i>Oficinas Mundiales</a>
    </li>
    <li class="menu-title">DETALLE OFICINA</li><!-- /.menu-title -->
    <li class="menu-item-has-children dropdown">
      <a href="{% url 'webclient:home' %}">
        <img src="{% static 'icons/ICONOS-01.png' %}" alt="logo-caja" width="20" height="20" class="mr-3">
        Inicio
      </a>
    </li>
    {% if request.user.is_superuser %}
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:movement_required' %}">
          <i class="fas fa-box-open mr-3"></i>
          Requerimiento de movimientos
        </a>
      </li>
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:movement_withdraw_required' %}">
          <i class="far fa-handshake mr-3"></i>
          Requerimiento de retiro de socio
        </a>
      </li>

      <li class="menu-item-has-children dropdown">
        <a href="#" data-toggle="modal" data-target="#migrate">
          <i class="fas fa-retweet mr-3"></i>
          Migracion de socios
        </a>
      </li>
    {% endif %}
    {% if request.user.is_superuser or request.user.is_secretary %}
      <li class="menu-item-has-children dropdown active">
        <a href="{% url 'webclient:reports' %}">
          <i class="fas fa-chart-line mr-3"></i>
          Informes
        </a>
      </li>
      <li class="menu-item-has-children dropdown">
        <a href="{% url 'webclient:movement_between_offices_require' %}">
          <i class="fas fa-building mr-3"></i>
          Requerimiento entre oficinas
        </a>
      </li>
    {% endif %}

  </ul>
{% endblock %}

{% block index_actions %}
{% endblock %}

{% block content %}
  <div class="row country-row">
    <div class="col-12">
      <div class="country-name">
        <span>Reportes</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Nivel de endeudamiento</h3>
          <p class="card-text">el nivel de endeudamiento mide la proporción de deuda que soporta un socio frente a sus
            recursos con la sociedad (unidades). El resultado se indica en porcentaje (%) y el colores de semáforo que
            muestra la capacidad que tiene en el momento. <br>
            a. Verde: Con capacidad.<br>
            b. Amarillo: capacidad media. <br>
            c. Naranja: capacidad al límite. <br>
            d. Rojo: Sin capacidad</p>
          <a href="{% url 'webclient:report_debt' %}" class="card-link btn-dynamic">Ver informe</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Informe de activos</h3>
          <p class="card-text">Informe de activos, que corresponde al inventario. Se puede filtrar por país, oficina,
            tipo de elemento, marca</p>
          <a href="{% url 'webclient:report_actives' %}" class="card-link btn-dynamic">Ver informe</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Ranking de oficinas</h3>
          <p class="card-text">Informe donde se miden varios criterios y/o variables de calidad operativa ordenando en
            cumplimiento de mayor a menor</p>
          <a href="{% url 'webclient:report_ranking' %}" class="card-link btn-dynamic">Ver informe</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Obligaciones mensuales por pagar</h3>
          <p class="card-text">Compromisos pendiente por realizar pago, tales como: Pago de intereses de préstamos,
            abonos a préstamos, pago de cadena, pago de inversiones a Negocios, préstamos a terceros, liquidaciones,
            otros</p>
          <a href="{% url 'webclient:report_account_payable' %}" class="card-link btn-dynamic">Ver informe</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Calculo de pagos de salarios</h3>
          <p class="card-text">Es el cálculo de pago de salarios de los empleados de las unidades, el sistema cargará
            del informe de venda+ el recaudo de la semana de cada asesor en calle y el sistema realizará el cálculo del
            salario de acuerdo al porcentaje de comisión que gana cada cobrador, para que la secretaria verifique que el
            pago que recibió cada cobrador sea el pactado</p>
          <a href="{% url 'webclient:report_employee_salary' %}" class="card-link btn-dynamic">Ver informe</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal MIgracion de socios -->
  <div class="modal fade" id="migrate" role="dialog" aria-labelledby="migrateLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center" id="migrateLabel">Migracion de socios</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" class="migrate">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="partner_migrate">Socios</label>
                <select class="form-control" id="partner_migrate" name="partners[]" style="width: 100%; height: 20px;"
                        multiple="multiple" required>
                  <option value="" disabled>Selecciona los socios a migrar</option>
                  {% for p in partners_offices %}
                    <option value="{{ p.pk }}">{{ p }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="office">Oficina de destino</label>
                <select class="form-control" id="office" name="office" style="width: 100%; height: 20px;"
                        required>
                  <option value="" selected disabled>Selecciona la oficina de destino</option>
                  {% for o in all_offices %}
                    <option value="{{ o.pk }}">{{ o }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary btn-migrate">Migrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block extra_js %}

  <script type="text/javascript">
    $(document).ready(function () {
      $('#partner_migrate').select2({
        language: "es"
      });
      $('#office').select2({
        language: "es"
      });
    })
    $('.migrate').on('submit', function (ev) {
      ev.preventDefault()
      //$('.btn-migrate').attr('disabled', true)
      axios.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token }}'
      data_send = $(this).serialize()
      axios.post('{% url 'api:users:migrate' %}', data_send)
        .then(function (response) {
          Swal.fire({
            type: 'success',
            title: 'Exitoso',
            text: 'Se ha migrado el socio exisotamente',
            //allowOutsideClick: false
          }).then((result) => {
            if (result.value) {
              location.reload()
            }
          })
        })
        .catch(function (error) {
          // handle error
          console.log(error)
          Swal.fire({
            title: 'Ha ocurrido un error. :( No eres tu, Soy yo.',
            text: error,
            type: 'error',
            showCancelButton: false,
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'Aceptar'
          }).then((result) => {
            if (result.value) {
              location.reload()
            }
          })
        })
    })
  </script>
{% endblock %}
